In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [55]:
Aotizhongxin_df = pd.read_csv("https://raw.githubusercontent.com/ortenox/data_analyst_project/main/PRSA_Data_Aotizhongxin_20130301-20170228.csv")

In [56]:
Aotizhongxin_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin

In [57]:
Aotizhongxin_df.info()
print("Jumlah missing values: \n", Aotizhongxin_df.isna().sum())
print("Jumlah duplikasi: ", Aotizhongxin_df.duplicated().sum())
Aotizhongxin_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34139 non-null  float64
 6   PM10     34346 non-null  float64
 7   SO2      34129 non-null  float64
 8   NO2      34041 non-null  float64
 9   CO       33288 non-null  float64
 10  O3       33345 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB
Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       925
PM10        718
SO2         935
NO2        1023
CO         1776
O3         1719
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64
Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34139.000000,34346.000000,34129.000000,34041.000000,33288.000000,33345.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.135694,95.223005,22.823017,37.116200,1221.436236,57.916327,11.399097,10.404047,13.688896,0.910056,1.204071
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,30.000000,500.000000,8.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,58.000000,87.000000,9.000000,53.000000,900.000000,42.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,114.000000,155.000000,21.000000,82.000000,1500.000000,82.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

In [58]:
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
1509,1510,2013,5,2,21,NaN,183.0,63.0000,93.0000,1200.0,38.0000,18.5,1006.1,6.0,0.0,SE,2.8,Aotizhongxin
1837,1838,2013,5,16,13,NaN,98.0,46.0000,35.0000,600.0,166.0000,26.1,1009.9,10.7,0.0,SW,2.7,Aotizhongxin
2368,2369,2013,6,7,16,NaN,137.0,12.0000,74.0000,2500.0,8.0000,20.7,1002.4,19.4,0.0,NNE,0.8,Aotizhongxin
2785,2786,2013,6,25,1,NaN,35.0,3.1416,35.1063,NaN,60.6186,20.8,996.5,20.5,0.0,NE,0.2,Aotizhongxin
2808,2809,2013,6,26,0,NaN,183.0,64.2600,40.0335,NaN,NaN,21.7,993.0,21.2,0.0,NNW,0.4,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34880,34881,2017,2,21,8,NaN,NaN,NaN,NaN,NaN,NaN,-0.3,1028.8,-15.8,0.0,SSE,1.0,Aotizhongxin
34883,34884,2017,2,21,11,NaN,NaN,NaN,NaN,NaN,NaN,1.3,1028.0,-16.1,0.0,S,1.5,Aotizhongxin
34885,34886,2017,2,21,13,NaN,NaN,NaN,NaN,NaN,NaN,-2.1,1027.4,-4.1,0.7,WSW,3.2,Aotizhongxin
35028,35029,2017,2,27,12,NaN,NaN,NaN,NaN,NaN,NaN,12.1,1017.3,-5.4,0.0,SSW,1.2,Aotizhongxin
35029,35030,2017,2,27,13,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1015.8,-5.2,0.0,SSE,1.8,Aotizhongxin

In [59]:
Aotizhongxin_df['PM2.5'].fillna(value=Aotizhongxin_df['PM2.5'].mean(), inplace=True)

In [60]:
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [61]:
Aotizhongxin_df[(Aotizhongxin_df['PM10'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
204,205,2013,3,9,12,78.000000,NaN,10.0,10.0,300.0,68.0,12.4,1004.3,-14.4,0.0,NW,7.9,Aotizhongxin
2949,2950,2013,7,1,21,85.000000,NaN,12.0,79.0,2100.0,4.0,24.0,990.3,23.3,5.7,N,0.6,Aotizhongxin
3133,3134,2013,7,9,13,52.000000,NaN,6.0,50.0,700.0,48.0,23.7,997.9,22.9,2.2,NE,1.4,Aotizhongxin
4513,4514,2013,9,5,1,24.000000,NaN,1.0,35.0,400.0,49.0,17.9,1009.6,17.6,1.1,NNE,1.0,Aotizhongxin
4706,4707,2013,9,13,2,61.000000,NaN,2.0,35.0,500.0,54.0,18.9,1002.3,17.4,0.0,SSW,1.0,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34880,34881,2017,2,21,8,82.773611,NaN,NaN,NaN,NaN,NaN,-0.3,1028.8,-15.8,0.0,SSE,1.0,Aotizhongxin
34883,34884,2017,2,21,11,82.773611,NaN,NaN,NaN,NaN,NaN,1.3,1028.0,-16.1,0.0,S,1.5,Aotizhongxin
34885,34886,2017,2,21,13,82.773611,NaN,NaN,NaN,NaN,NaN,-2.1,1027.4,-4.1,0.7,WSW,3.2,Aotizhongxin
35028,35029,2017,2,27,12,82.773611,NaN,NaN,NaN,NaN,NaN,12.1,1017.3,-5.4,0.0,SSW,1.2,Aotizhongxin
35029,35030,2017,2,27,13,82.773611,NaN,NaN,NaN,NaN,NaN,14.0,1015.8,-5.2,0.0,SSE,1.8,Aotizhongxin

In [62]:
Aotizhongxin_df['PM10'].fillna(value=Aotizhongxin_df['PM10'].mean(), inplace=True)

In [63]:
Aotizhongxin_df[(Aotizhongxin_df['PM10'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [64]:
Aotizhongxin_df[(Aotizhongxin_df['SO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
74,75,2013,3,4,2,34.000000,62.000000,NaN,14.0,300.0,68.0,8.1,1016.7,-11.8,0.0,N,4.3,Aotizhongxin
170,171,2013,3,8,2,339.000000,400.000000,NaN,162.0,3899.0,84.0,2.5,998.2,-1.9,0.0,SW,0.8,Aotizhongxin
627,628,2013,3,27,3,129.000000,163.000000,NaN,54.0,NaN,NaN,4.3,1001.7,3.0,0.0,W,0.8,Aotizhongxin
628,629,2013,3,27,4,135.000000,161.000000,NaN,54.0,900.0,2.0,2.9,1001.5,1.9,0.0,W,0.9,Aotizhongxin
629,630,2013,3,27,5,135.000000,153.000000,NaN,64.0,1000.0,2.0,2.8,1001.4,2.2,0.0,SSW,0.5,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34885,34886,2017,2,21,13,82.773611,110.060391,NaN,NaN,NaN,NaN,-2.1,1027.4,-4.1,0.7,WSW,3.2,Aotizhongxin
34912,34913,2017,2,22,16,131.000000,131.000000,NaN,95.0,NaN,47.0,6.0,1017.0,-4.2,0.0,WNW,1.2,Aotizhongxin
35027,35028,2017,2,27,11,122.000000,122.000000,NaN,NaN,NaN,42.0,10.0,1018.3,-5.6,0.0,ESE,1.4,Aotizhongxin
35028,35029,2017,2,27,12,82.773611,110.060391,NaN,NaN,NaN,NaN,12.1,1017.3,-5.4,0.0,SSW,1.2,Aotizhongxin
35029,35030,2017,2,27,13,82.773611,110.060391,NaN,NaN,NaN,NaN,14.0,1015.8,-5.2,0.0,SSE,1.8,Aotizhongxin

In [67]:
Aotizhongxin_df.SO2.value_counts()

SO2
2.0000      7641
3.0000      2275
4.0000      1901
5.0000      1680
6.0000      1493
            ...
45.4104        1
45.1248        1
43.9824        1
44.8392        1
157.0000       1
Name: count, Length: 330, dtype: int64

In [66]:
Aotizhongxin_df.SO2.fillna(value=2.0000, inplace=True)

In [68]:
Aotizhongxin_df[(Aotizhongxin_df['SO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [87]:
print("Jumlah missing values: \n", Aotizhongxin_df.isna().sum())

Jumlah missing values:
 No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP       20
PRES       20
DEWP       20
RAIN       20
wd         81
WSPM       14
station     0
dtype: int64

In [70]:
Aotizhongxin_df[(Aotizhongxin_df['NO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
76,77,2013,3,4,4,7.000000,18.000000,14.0,NaN,400.0,42.0,6.0,1018.0,-11.6,0.0,NNW,1.0,Aotizhongxin
172,173,2013,3,8,4,322.000000,345.000000,62.0,NaN,3299.0,84.0,1.3,998.5,-1.8,0.0,W,1.0,Aotizhongxin
1109,1110,2013,4,16,5,50.000000,156.000000,46.0,NaN,1300.0,11.0,8.5,998.7,2.3,0.0,NE,1.1,Aotizhongxin
1110,1111,2013,4,16,6,58.000000,185.000000,35.0,NaN,1300.0,2.0,10.1,999.6,2.4,0.0,NE,1.9,Aotizhongxin
1111,1112,2013,4,16,7,57.000000,185.000000,35.0,NaN,1300.0,7.0,13.3,1000.5,3.1,0.0,NNW,1.8,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34883,34884,2017,2,21,11,82.773611,110.060391,2.0,NaN,NaN,NaN,1.3,1028.0,-16.1,0.0,S,1.5,Aotizhongxin
34885,34886,2017,2,21,13,82.773611,110.060391,2.0,NaN,NaN,NaN,-2.1,1027.4,-4.1,0.7,WSW,3.2,Aotizhongxin
35027,35028,2017,2,27,11,122.000000,122.000000,2.0,NaN,NaN,42.0,10.0,1018.3,-5.6,0.0,ESE,1.4,Aotizhongxin
35028,35029,2017,2,27,12,82.773611,110.060391,2.0,NaN,NaN,NaN,12.1,1017.3,-5.4,0.0,SSW,1.2,Aotizhongxin
35029,35030,2017,2,27,13,82.773611,110.060391,2.0,NaN,NaN,NaN,14.0,1015.8,-5.2,0.0,SSE,1.8,Aotizhongxin

In [75]:
Aotizhongxin_df.NO2.value_counts()

NO2
26.0000     408
42.0000     394
44.0000     393
28.0000     392
36.0000     391
           ...
81.7094       1
59.9476       1
78.4246       1
76.9875       1
215.0000      1
Name: count, Length: 465, dtype: int64

In [78]:
Aotizhongxin_df.NO2.describe()

count    35064.000000
mean        59.305833
std         36.570739
min          2.000000
25%         31.000000
50%         55.000000
75%         81.000000
max        290.000000
Name: NO2, dtype: float64

In [76]:
Aotizhongxin_df['NO2'].fillna(value=Aotizhongxin_df['NO2'].mean(), inplace=True)

In [77]:
Aotizhongxin_df[(Aotizhongxin_df['NO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [80]:
Aotizhongxin_df[(Aotizhongxin_df['CO'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
75,76,2013,3,4,3,12.000000,34.000000,6.0000,12.000000,NaN,77.0,7.2,1016.9,-11.6,0.0,N,2.8,Aotizhongxin
124,125,2013,3,6,4,192.000000,203.000000,83.6808,140.425200,NaN,22.0,3.9,1007.3,-6.1,0.0,NE,1.4,Aotizhongxin
171,172,2013,3,8,3,324.000000,373.000000,71.0000,154.000000,NaN,84.0,1.8,997.9,-1.8,0.0,N,0.0,Aotizhongxin
178,179,2013,3,8,10,326.000000,844.000000,125.9496,179.226900,NaN,84.0,19.1,1000.9,-0.4,0.0,SSW,1.9,Aotizhongxin
267,268,2013,3,12,3,117.000000,127.000000,73.0000,81.000000,NaN,47.0,6.4,1005.8,-1.0,0.1,N,2.2,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34885,34886,2017,2,21,13,82.773611,110.060391,2.0000,59.305833,NaN,NaN,-2.1,1027.4,-4.1,0.7,WSW,3.2,Aotizhongxin
34912,34913,2017,2,22,16,131.000000,131.000000,2.0000,95.000000,NaN,47.0,6.0,1017.0,-4.2,0.0,WNW,1.2,Aotizhongxin
35027,35028,2017,2,27,11,122.000000,122.000000,2.0000,59.305833,NaN,42.0,10.0,1018.3,-5.6,0.0,ESE,1.4,Aotizhongxin
35028,35029,2017,2,27,12,82.773611,110.060391,2.0000,59.305833,NaN,NaN,12.1,1017.3,-5.4,0.0,SSW,1.2,Aotizhongxin
35029,35030,2017,2,27,13,82.773611,110.060391,2.0000,59.305833,NaN,NaN,14.0,1015.8,-5.2,0.0,SSE,1.8,Aotizhongxin

In [81]:
Aotizhongxin_df['CO'].fillna(value=Aotizhongxin_df['CO'].mean(), inplace=True)

In [82]:
Aotizhongxin_df[(Aotizhongxin_df['CO'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [83]:
Aotizhongxin_df[(Aotizhongxin_df['O3'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
435,436,2013,3,19,3,33.000000,41.000000,15.0,50.000000,1262.945145,NaN,0.8,1005.8,-3.0,0.0,ENE,1.5,Aotizhongxin
436,437,2013,3,19,4,31.000000,35.000000,15.0,49.000000,1262.945145,NaN,0.1,1005.4,-3.5,0.0,N,1.4,Aotizhongxin
531,532,2013,3,23,3,51.000000,70.000000,12.0,85.000000,1262.945145,NaN,1.5,1008.5,-2.5,0.0,WNW,0.6,Aotizhongxin
578,579,2013,3,25,2,73.000000,121.000000,42.0,105.000000,1262.945145,NaN,0.5,1017.0,-6.8,0.0,NNE,1.3,Aotizhongxin
579,580,2013,3,25,3,79.000000,140.000000,26.0,95.000000,1262.945145,NaN,0.3,1017.4,-5.1,0.0,NE,1.2,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34883,34884,2017,2,21,11,82.773611,110.060391,2.0,59.305833,1262.945145,NaN,1.3,1028.0,-16.1,0.0,S,1.5,Aotizhongxin
34885,34886,2017,2,21,13,82.773611,110.060391,2.0,59.305833,1262.945145,NaN,-2.1,1027.4,-4.1,0.7,WSW,3.2,Aotizhongxin
34913,34914,2017,2,22,17,28.000000,28.000000,11.0,17.000000,500.000000,NaN,6.8,1017.6,-9.2,0.0,NNW,2.6,Aotizhongxin
35028,35029,2017,2,27,12,82.773611,110.060391,2.0,59.305833,1262.945145,NaN,12.1,1017.3,-5.4,0.0,SSW,1.2,Aotizhongxin
35029,35030,2017,2,27,13,82.773611,110.060391,2.0,59.305833,1262.945145,NaN,14.0,1015.8,-5.2,0.0,SSE,1.8,Aotizhongxin

In [86]:
Aotizhongxin_df.O3.value_counts()

O3
2.0000      5943
1.0000      1520
3.0000       582
4.0000       536
5.0000       449
            ...
82.8954        1
95.7474        1
52.2648        1
35.1288        1
332.0000       1
Name: count, Length: 831, dtype: int64

In [85]:
Aotizhongxin_df.O3.fillna(value=2.0000, inplace=True)

In [88]:
Aotizhongxin_df[(Aotizhongxin_df['O3'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [92]:
Aotizhongxin_df.drop(Aotizhongxin_df['TEMP'].index, inplace=True)

In [93]:
Aotizhongxin_df[(Aotizhongxin_df['TEMP'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [96]:
print("Jumlah missing values: \n", Aotizhongxin_df.isna().sum())

Jumlah missing values:
 No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

In [ ]:
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df['PM2.5'].fillna(value=Aotizhongxin_df['PM2.5'].mean(), inplace=True)
Aotizhongxin_df.NO2.value_counts()
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df.SO2.fillna(value=2.0000, inplace=True)
print("Jumlah missing values: \n", Aotizhongxin_df.isna().sum())
Aotizhongxin_df[(Aotizhongxin_df['TEMP'].isna())]