In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
Changping_df = pd.read_csv("https://raw.githubusercontent.com/ortenox/data_analyst_project/main/PRSA_Data_Changping_20130301-20170228.csv")

In [45]:
Changping_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,3.0,6.0,13.0,7.0,300.0,85.0,-2.3,1020.8,-19.7,0.0,E,0.5,Changping
1,2,2013,3,1,1,3.0,3.0,6.0,6.0,300.0,85.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Changping
2,3,2013,3,1,2,3.0,3.0,22.0,13.0,400.0,74.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Changping
3,4,2013,3,1,3,3.0,6.0,12.0,8.0,300.0,81.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Changping
4,5,2013,3,1,4,3.0,3.0,14.0,8.0,300.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Changping

In [46]:
Changping_df.info()
print("Jumlah missing values: \n", Changping_df.isna().sum())
print("Jumlah duplikasi: ", Changping_df.duplicated().sum())
Changping_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34290 non-null  float64
 6   PM10     34482 non-null  float64
 7   SO2      34436 non-null  float64
 8   NO2      34397 non-null  float64
 9   CO       33543 non-null  float64
 10  O3       34460 non-null  float64
 11  TEMP     35011 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34924 non-null  object
 16  WSPM     35021 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB
Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       774
PM10        582
SO2         628
NO2         667
CO         1521
O3          604
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64
Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34290.000000,34482.000000,34436.000000,34397.000000,33543.000000,34460.000000,35011.000000,35014.000000,35011.000000,35013.000000,35021.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,71.099743,94.657871,14.958906,44.182086,1152.301345,57.940003,13.686111,1007.760278,1.505495,0.060366,1.853836
std,10122.249256,1.177213,3.448752,8.800218,6.922285,72.326926,83.441738,20.975331,29.519796,1103.056282,54.316674,11.365313,10.225664,13.822099,0.752899,1.309808
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.847700,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,18.000000,34.000000,2.000000,22.000000,500.000000,15.636600,3.400000,999.300000,-10.200000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,46.000000,72.000000,7.000000,36.000000,800.000000,46.000000,14.700000,1007.400000,1.800000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,100.000000,131.000000,18.000000,60.358200,1400.000000,80.000000,23.300000,1016.000000,14.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,882.000000,999.000000,310.000000,226.000000,10000.000000,429.000000,41.400000,1036.500000,27.200000,52.100000,10.000000

In [47]:
Changping_df[(Changping_df['PM2.5'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
1308,1309,2013,4,24,12,NaN,NaN,9.0000,33.0000,400.0,72.0000,22.6,999.2,-7.3,0.0,NNW,5.7,Changping
1309,1310,2013,4,24,13,NaN,302.0,3.0000,16.0000,300.0,89.0000,23.4,998.7,-7.7,0.0,NNW,7.3,Changping
1814,1815,2013,5,15,14,NaN,70.0,46.0000,22.0000,1100.0,157.0000,27.7,1005.8,2.0,0.0,SE,3.2,Changping
1815,1816,2013,5,15,15,NaN,71.0,39.0000,19.0000,1100.0,188.0000,27.9,1005.2,4.2,0.0,SSE,1.6,Changping
2417,2418,2013,6,9,17,NaN,NaN,5.9976,31.2056,NaN,18.6354,17.8,1003.4,15.8,0.1,NNW,0.4,Changping
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,NaN,NaN,NaN,NaN,NaN,NaN,-1.7,1023.1,-17.4,0.0,E,1.3,Changping
34880,34881,2017,2,21,8,NaN,NaN,NaN,NaN,NaN,NaN,-1.8,1023.8,-16.7,0.0,W,1.2,Changping
34883,34884,2017,2,21,11,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,1022.7,-16.0,0.0,ESE,1.9,Changping
34885,34886,2017,2,21,13,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Changping
34887,34888,2017,2,21,15,NaN,6.0,NaN,34.0000,NaN,2.0000,-2.1,1019.4,-5.3,0.0,ENE,2.0,Changping

In [48]:
Changping_df['PM2.5'].fillna(value=Changping_df['PM2.5'].mean(), inplace=True)

In [49]:
Changping_df[(Changping_df['PM2.5'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [50]:
Changping_df[(Changping_df['PM10'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
1308,1309,2013,4,24,12,71.099743,NaN,9.0000,33.0000,400.0,72.0000,22.6,999.2,-7.3,0.0,NNW,5.7,Changping
2417,2418,2013,6,9,17,71.099743,NaN,5.9976,31.2056,NaN,18.6354,17.8,1003.4,15.8,0.1,NNW,0.4,Changping
2967,2968,2013,7,2,15,11.000000,NaN,3.7128,11.2915,NaN,113.7402,35.9,986.2,16.1,0.0,WSW,3.4,Changping
3291,3292,2013,7,16,3,23.000000,NaN,3.0000,12.0000,NaN,NaN,22.5,988.2,19.7,0.0,N,1.0,Changping
3306,3307,2013,7,16,18,4.000000,NaN,3.0000,14.0000,300.0,77.0000,31.9,993.2,15.8,0.0,N,0.7,Changping
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34877,34878,2017,2,21,5,71.099743,NaN,NaN,NaN,NaN,NaN,-3.0,1023.7,-18.2,0.0,NNE,0.7,Changping
34879,34880,2017,2,21,7,71.099743,NaN,NaN,NaN,NaN,NaN,-1.7,1023.1,-17.4,0.0,E,1.3,Changping
34880,34881,2017,2,21,8,71.099743,NaN,NaN,NaN,NaN,NaN,-1.8,1023.8,-16.7,0.0,W,1.2,Changping
34883,34884,2017,2,21,11,71.099743,NaN,NaN,NaN,NaN,NaN,-0.5,1022.7,-16.0,0.0,ESE,1.9,Changping
34885,34886,2017,2,21,13,71.099743,NaN,NaN,NaN,NaN,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Changping

In [51]:
Changping_df['PM10'].fillna(value=Changping_df['PM10'].mean(), inplace=True)

In [52]:
Changping_df[(Changping_df['PM10'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [53]:
Changping_df[(Changping_df['SO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
26,27,2013,3,2,2,13.000000,9.000000,NaN,56.0,800.0,33.0,-1.7,1027.7,-17.4,0.0,SSW,1.5,Changping
122,123,2013,3,6,2,146.000000,153.000000,NaN,100.0,2399.0,81.0,3.5,1004.8,-6.5,0.0,N,0.7,Changping
1178,1179,2013,4,19,2,32.000000,164.000000,NaN,33.0,600.0,44.0,7.4,1015.9,-2.1,0.0,E,2.4,Changping
1274,1275,2013,4,23,2,155.000000,130.000000,NaN,49.0,900.0,31.0,11.3,1002.4,6.4,0.0,SE,1.2,Changping
1370,1371,2013,4,27,2,44.000000,74.000000,NaN,59.0,700.0,43.0,13.0,1001.0,-1.7,0.0,E,0.2,Changping
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34880,34881,2017,2,21,8,71.099743,94.657871,NaN,NaN,NaN,NaN,-1.8,1023.8,-16.7,0.0,W,1.2,Changping
34883,34884,2017,2,21,11,71.099743,94.657871,NaN,NaN,NaN,NaN,-0.5,1022.7,-16.0,0.0,ESE,1.9,Changping
34885,34886,2017,2,21,13,71.099743,94.657871,NaN,NaN,NaN,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Changping
34887,34888,2017,2,21,15,71.099743,6.000000,NaN,34.0,NaN,2.0,-2.1,1019.4,-5.3,0.0,ENE,2.0,Changping
35058,35059,2017,2,28,18,18.000000,57.000000,NaN,2.0,NaN,2.0,13.4,1008.1,-13.6,0.0,WNW,3.0,Changping

In [54]:
Changping_df.SO2.value_counts()

SO2
2.0000      9215
3.0000      2732
4.0000      1734
5.0000      1498
6.0000      1394
            ...
41.9832        1
32.8440        1
23.9904        1
52.8360        1
215.0000       1
Name: count, Length: 294, dtype: int64

In [55]:
Changping_df.SO2.fillna(value=2.0000, inplace=True)

In [56]:
Changping_df[(Changping_df['SO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [57]:
print("Jumlah missing values: \n", Changping_df.isna().sum())

Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5         0
PM10          0
SO2           0
NO2         667
CO         1521
O3          604
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

In [58]:
Changping_df[(Changping_df['NO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
28,29,2013,3,2,4,14.000000,18.000000,24.0,NaN,400.0,45.0,-3.4,1027.5,-17.0,0.0,NW,0.8,Changping
124,125,2013,3,6,4,149.000000,155.000000,59.0,NaN,2500.0,81.0,2.4,1004.7,-6.2,0.0,N,1.0,Changping
1057,1058,2013,4,14,1,8.000000,12.000000,3.0,NaN,200.0,94.0,9.4,1004.6,-11.9,0.0,NNW,1.1,Changping
1061,1062,2013,4,14,5,4.000000,9.000000,3.0,NaN,200.0,92.0,6.7,1005.2,-16.0,0.0,NE,2.4,Changping
1180,1181,2013,4,19,4,42.000000,77.000000,19.0,NaN,800.0,38.0,6.9,1016.2,-3.1,0.0,ESE,2.5,Changping
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,71.099743,94.657871,2.0,NaN,NaN,NaN,-1.7,1023.1,-17.4,0.0,E,1.3,Changping
34880,34881,2017,2,21,8,71.099743,94.657871,2.0,NaN,NaN,NaN,-1.8,1023.8,-16.7,0.0,W,1.2,Changping
34883,34884,2017,2,21,11,71.099743,94.657871,2.0,NaN,NaN,NaN,-0.5,1022.7,-16.0,0.0,ESE,1.9,Changping
34885,34886,2017,2,21,13,71.099743,94.657871,2.0,NaN,NaN,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Changping
34889,34890,2017,2,21,17,96.000000,96.000000,8.0,NaN,1100.0,2.0,-2.1,1017.7,-4.0,0.3,E,1.9,Changping

In [59]:
Changping_df.NO2.value_counts()

NO2
20.0000     684
24.0000     675
25.0000     673
22.0000     668
17.0000     661
           ...
47.4243       1
33.0533       1
36.9540       1
36.7487       1
203.0000      1
Name: count, Length: 459, dtype: int64

In [60]:
Changping_df.NO2.describe()

count    34397.000000
mean        44.182086
std         29.519796
min          1.847700
25%         22.000000
50%         36.000000
75%         60.358200
max        226.000000
Name: NO2, dtype: float64

In [61]:
Changping_df['NO2'].fillna(value=Changping_df['NO2'].mean(), inplace=True)

In [62]:
Changping_df[(Changping_df['NO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [63]:
Changping_df[(Changping_df['CO'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
27,28,2013,3,2,3,14.000000,24.000000,23.0000,42.000000,NaN,NaN,-2.5,1027.7,-17.4,0.0,SW,1.7,Changping
123,124,2013,3,6,3,170.000000,179.000000,55.0000,74.000000,NaN,81.0,3.7,1004.7,-6.3,0.0,N,1.3,Changping
178,179,2013,3,8,10,180.000000,257.000000,59.4048,94.027400,NaN,65.0,17.3,997.3,-3.5,0.0,SE,1.4,Changping
219,220,2013,3,10,3,3.000000,7.000000,9.0000,24.000000,NaN,94.0,4.1,1018.1,-20.3,0.0,NW,2.5,Changping
315,316,2013,3,14,3,80.000000,88.000000,23.0000,69.000000,NaN,92.0,0.0,1021.0,-5.0,0.0,E,1.2,Changping
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34880,34881,2017,2,21,8,71.099743,94.657871,2.0000,44.182086,NaN,NaN,-1.8,1023.8,-16.7,0.0,W,1.2,Changping
34883,34884,2017,2,21,11,71.099743,94.657871,2.0000,44.182086,NaN,NaN,-0.5,1022.7,-16.0,0.0,ESE,1.9,Changping
34885,34886,2017,2,21,13,71.099743,94.657871,2.0000,44.182086,NaN,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Changping
34887,34888,2017,2,21,15,71.099743,6.000000,2.0000,34.000000,NaN,2.0,-2.1,1019.4,-5.3,0.0,ENE,2.0,Changping
35058,35059,2017,2,28,18,18.000000,57.000000,2.0000,2.000000,NaN,2.0,13.4,1008.1,-13.6,0.0,WNW,3.0,Changping

In [65]:
Changping_df['CO'].fillna(value=Changping_df['CO'].mean(), inplace=True)

In [66]:
Changping_df[(Changping_df['CO'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [67]:
Changping_df[(Changping_df['O3'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
27,28,2013,3,2,3,14.000000,24.000000,23.0,42.000000,1152.301345,NaN,-2.5,1027.7,-17.4,0.0,SW,1.7,Changping
495,496,2013,3,21,15,138.000000,146.000000,27.0,42.000000,1152.301345,NaN,6.7,996.8,-1.7,0.0,SE,0.9,Changping
507,508,2013,3,22,3,3.000000,6.000000,3.0,14.000000,1152.301345,NaN,4.6,1007.3,-12.8,0.0,NNW,1.2,Changping
603,604,2013,3,26,3,144.000000,195.000000,14.0,90.000000,1152.301345,NaN,0.1,1007.4,-5.1,0.0,N,0.1,Changping
699,700,2013,3,30,3,70.000000,98.000000,61.0,63.000000,1152.301345,NaN,3.2,1013.8,-7.6,0.0,SE,1.7,Changping
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34880,34881,2017,2,21,8,71.099743,94.657871,2.0,44.182086,1152.301345,NaN,-1.8,1023.8,-16.7,0.0,W,1.2,Changping
34883,34884,2017,2,21,11,71.099743,94.657871,2.0,44.182086,1152.301345,NaN,-0.5,1022.7,-16.0,0.0,ESE,1.9,Changping
34885,34886,2017,2,21,13,71.099743,94.657871,2.0,44.182086,1152.301345,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Changping
34888,34889,2017,2,21,16,78.000000,78.000000,3.0,2.000000,200.000000,NaN,-2.1,1018.4,-4.8,0.0,NE,1.9,Changping
35059,35060,2017,2,28,19,28.000000,47.000000,4.0,14.000000,300.000000,NaN,11.7,1008.9,-13.3,0.0,NNE,1.3,Changping

In [68]:
Changping_df.O3.value_counts()

O3
2.0000      2273
3.0000       829
4.0000       717
5.0000       584
6.0000       576
            ...
178.8570       1
174.3588       1
193.2084       1
226.1952       1
303.0000       1
Name: count, Length: 886, dtype: int64

In [ ]:
Changping_df.O3.fillna(value=2.0000, inplace=True)

In [ ]:
Changping_df[(Changping_df['TEMP'].isna())]

In [ ]:
Changping_df = Changping_df.dropna(axis=0, subset=['TEMP'])

In [ ]:
print("Jumlah missing values: \n", Changping_df.isna().sum())

In [ ]:
Changping_df[(Changping_df['wd'].isna())]

In [ ]:
Changping_df.wd.value_counts()

In [ ]:
Changping_df.wd.fillna(value="NNW", inplace=True)

In [ ]:
Changping_df[(Changping_df['wd'].isna())]

In [ ]:
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df['PM2.5'].fillna(value=Aotizhongxin_df['PM2.5'].mean(), inplace=True)
Aotizhongxin_df.NO2.value_counts()
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df.SO2.fillna(value=2.0000, inplace=True)
print("Jumlah missing values: \n", Aotizhongxin_df.isna().sum())
Aotizhongxin_df[(Aotizhongxin_df['TEMP'].isna())]