In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
Dingling_df = pd.read_csv("https://raw.githubusercontent.com/ortenox/data_analyst_project/main/PRSA_Data_Dingling_20130301-20170228.csv")

In [4]:
Dingling_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,3.0,NaN,200.0,82.0,-2.3,1020.8,-19.7,0.0,E,0.5,Dingling
1,2,2013,3,1,1,7.0,7.0,3.0,NaN,200.0,80.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Dingling
2,3,2013,3,1,2,5.0,5.0,3.0,2.0,200.0,79.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Dingling
3,4,2013,3,1,3,6.0,6.0,3.0,NaN,200.0,79.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Dingling
4,5,2013,3,1,4,5.0,5.0,3.0,NaN,200.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Dingling

In [5]:
Dingling_df.info()
print("Jumlah missing values: \n", Dingling_df.isna().sum())
print("Jumlah duplikasi: ", Dingling_df.duplicated().sum())
Dingling_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34285 non-null  float64
 6   PM10     34408 non-null  float64
 7   SO2      34334 non-null  float64
 8   NO2      33830 non-null  float64
 9   CO       33052 non-null  float64
 10  O3       33850 non-null  float64
 11  TEMP     35011 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34924 non-null  object
 16  WSPM     35021 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB
Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64
Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34285.000000,34408.000000,34334.000000,33830.000000,33052.000000,33850.000000,35011.000000,35014.000000,35011.000000,35013.000000,35021.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,65.989497,83.739723,11.749650,27.585467,904.896073,68.548371,13.686111,1007.760278,1.505495,0.060366,1.853836
std,10122.249256,1.177213,3.448752,8.800218,6.922285,72.267723,79.541685,15.519259,26.383882,903.306220,53.764424,11.365313,10.225664,13.822099,0.752899,1.309808
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,14.000000,26.000000,2.000000,9.000000,300.000000,31.000000,3.400000,999.300000,-10.200000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,41.000000,60.000000,5.000000,19.000000,600.000000,61.000000,14.700000,1007.400000,1.800000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,93.000000,117.000000,15.000000,38.000000,1200.000000,90.000000,23.300000,1016.000000,14.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,881.000000,905.000000,156.000000,205.000000,10000.000000,500.000000,41.400000,1036.500000,27.200000,52.100000,10.000000

In [6]:
Dingling_df[(Dingling_df['PM2.5'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
752,753,2013,4,1,8,NaN,NaN,NaN,NaN,NaN,NaN,11.0,1005.9,-3.2,0.0,NW,7.2,Dingling
753,754,2013,4,1,9,NaN,NaN,NaN,NaN,NaN,NaN,10.6,1007.0,-3.5,0.0,NNW,4.5,Dingling
754,755,2013,4,1,10,NaN,NaN,NaN,NaN,NaN,NaN,13.2,1007.8,-3.6,0.0,NNW,4.5,Dingling
755,756,2013,4,1,11,NaN,NaN,NaN,NaN,NaN,NaN,13.8,1007.7,-4.9,0.0,NNE,4.0,Dingling
756,757,2013,4,1,12,NaN,NaN,NaN,NaN,NaN,NaN,15.3,1007.9,-5.7,0.0,NE,5.0,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34863,34864,2017,2,20,15,NaN,NaN,NaN,NaN,NaN,NaN,4.2,1022.0,-21.0,0.0,WNW,3.1,Dingling
34864,34865,2017,2,20,16,NaN,NaN,NaN,NaN,NaN,NaN,4.4,1022.1,-21.7,0.0,WNW,3.4,Dingling
34866,34867,2017,2,20,18,NaN,NaN,NaN,NaN,NaN,NaN,3.3,1022.2,-20.9,0.0,NE,1.1,Dingling
34883,34884,2017,2,21,11,NaN,NaN,26.0,68.0,NaN,5.0,-0.5,1022.7,-16.0,0.0,ESE,1.9,Dingling
34885,34886,2017,2,21,13,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Dingling

In [7]:
Dingling_df['PM2.5'].fillna(value=Dingling_df['PM2.5'].mean(), inplace=True)

In [8]:
Dingling_df[(Dingling_df['PM2.5'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [9]:
Dingling_df[(Dingling_df['PM10'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
10,11,2013,3,1,10,8.000000,NaN,3.0,NaN,200.0,83.0,2.0,1025.1,-21.3,0.0,N,2.2,Dingling
12,13,2013,3,1,12,6.000000,NaN,3.0,NaN,200.0,85.0,4.8,1023.8,-19.7,0.0,N,3.0,Dingling
77,78,2013,3,4,5,5.000000,NaN,3.0,NaN,200.0,87.0,5.4,1015.4,-12.1,0.0,NW,4.7,Dingling
226,227,2013,3,10,10,7.000000,NaN,10.0,7.0,300.0,91.0,10.6,1018.4,-16.8,0.0,S,2.5,Dingling
227,228,2013,3,10,11,12.000000,NaN,9.0,6.0,300.0,91.0,10.4,1018.1,-16.9,0.0,SE,2.0,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34863,34864,2017,2,20,15,65.989497,NaN,NaN,NaN,NaN,NaN,4.2,1022.0,-21.0,0.0,WNW,3.1,Dingling
34864,34865,2017,2,20,16,65.989497,NaN,NaN,NaN,NaN,NaN,4.4,1022.1,-21.7,0.0,WNW,3.4,Dingling
34866,34867,2017,2,20,18,65.989497,NaN,NaN,NaN,NaN,NaN,3.3,1022.2,-20.9,0.0,NE,1.1,Dingling
34883,34884,2017,2,21,11,65.989497,NaN,26.0,68.0,NaN,5.0,-0.5,1022.7,-16.0,0.0,ESE,1.9,Dingling
34885,34886,2017,2,21,13,65.989497,NaN,NaN,NaN,NaN,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Dingling

In [10]:
Dingling_df['PM10'].fillna(value=Dingling_df['PM10'].mean(), inplace=True)

In [11]:
Dingling_df[(Dingling_df['PM10'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [12]:
Dingling_df[(Dingling_df['SO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
50,51,2013,3,3,2,52.000000,53.000000,NaN,69.0,1300.0,3.0,-3.8,1015.1,-12.7,0.0,NNE,0.8,Dingling
146,147,2013,3,7,2,150.000000,149.000000,NaN,74.0,1300.0,52.0,3.0,1003.8,-3.8,0.0,SW,0.5,Dingling
752,753,2013,4,1,8,65.989497,83.739723,NaN,NaN,NaN,NaN,11.0,1005.9,-3.2,0.0,NW,7.2,Dingling
753,754,2013,4,1,9,65.989497,83.739723,NaN,NaN,NaN,NaN,10.6,1007.0,-3.5,0.0,NNW,4.5,Dingling
754,755,2013,4,1,10,65.989497,83.739723,NaN,NaN,NaN,NaN,13.2,1007.8,-3.6,0.0,NNW,4.5,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34864,34865,2017,2,20,16,65.989497,83.739723,NaN,NaN,NaN,NaN,4.4,1022.1,-21.7,0.0,WNW,3.4,Dingling
34866,34867,2017,2,20,18,65.989497,83.739723,NaN,NaN,NaN,NaN,3.3,1022.2,-20.9,0.0,NE,1.1,Dingling
34884,34885,2017,2,21,12,62.000000,62.000000,NaN,53.0,NaN,NaN,0.0,1022.2,-15.5,0.0,ESE,1.6,Dingling
34885,34886,2017,2,21,13,65.989497,83.739723,NaN,NaN,NaN,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Dingling
35056,35057,2017,2,28,16,14.000000,30.000000,NaN,6.0,NaN,93.0,15.4,1007.2,-12.9,0.0,WNW,4.4,Dingling

In [13]:
Dingling_df.SO2.value_counts()

SO2
2.0000      9638
3.0000      3766
4.0000      1833
5.0000      1425
6.0000      1280
            ...
60.8328        1
59.6904        1
55.1208        1
37.6992        1
156.0000       1
Name: count, Length: 327, dtype: int64

In [14]:
Dingling_df.SO2.fillna(value=2.0000, inplace=True)

In [15]:
Dingling_df[(Dingling_df['SO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [16]:
print("Jumlah missing values: \n", Dingling_df.isna().sum())

Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5         0
PM10          0
SO2           0
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

In [17]:
Dingling_df[(Dingling_df['NO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.000000,4.000000,3.0,NaN,200.0,82.0,-2.3,1020.8,-19.7,0.0,E,0.5,Dingling
1,2,2013,3,1,1,7.000000,7.000000,3.0,NaN,200.0,80.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Dingling
3,4,2013,3,1,3,6.000000,6.000000,3.0,NaN,200.0,79.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Dingling
4,5,2013,3,1,4,5.000000,5.000000,3.0,NaN,200.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Dingling
10,11,2013,3,1,10,8.000000,83.739723,3.0,NaN,200.0,83.0,2.0,1025.1,-21.3,0.0,N,2.2,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34863,34864,2017,2,20,15,65.989497,83.739723,2.0,NaN,NaN,NaN,4.2,1022.0,-21.0,0.0,WNW,3.1,Dingling
34864,34865,2017,2,20,16,65.989497,83.739723,2.0,NaN,NaN,NaN,4.4,1022.1,-21.7,0.0,WNW,3.4,Dingling
34866,34867,2017,2,20,18,65.989497,83.739723,2.0,NaN,NaN,NaN,3.3,1022.2,-20.9,0.0,NE,1.1,Dingling
34885,34886,2017,2,21,13,65.989497,83.739723,2.0,NaN,NaN,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Dingling
35055,35056,2017,2,28,15,16.000000,27.000000,6.0,NaN,400.0,88.0,15.6,1007.6,-12.8,0.0,WNW,3.2,Dingling

In [18]:
Dingling_df.NO2.value_counts()

NO2
2.0000      2841
5.0000       930
8.0000       915
7.0000       894
10.0000      891
            ...
90.1267        1
53.9939        1
125.2330       1
77.6034        1
190.0000       1
Name: count, Length: 636, dtype: int64

In [19]:
Dingling_df.NO2.describe()

count    33830.000000
mean        27.585467
std         26.383882
min          1.026500
25%          9.000000
50%         19.000000
75%         38.000000
max        205.000000
Name: NO2, dtype: float64

In [20]:
Dingling_df['NO2'].fillna(value=Dingling_df['NO2'].mean(), inplace=True)

In [21]:
Dingling_df[(Dingling_df['NO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [22]:
Dingling_df[(Dingling_df['CO'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
51,52,2013,3,3,3,57.000000,57.000000,20.0000,67.000000,NaN,45.0,-4.0,1014.1,-13.4,0.0,NE,0.7,Dingling
147,148,2013,3,7,3,91.000000,85.000000,32.0000,46.000000,NaN,52.0,1.4,1003.6,-4.3,0.0,SW,1.0,Dingling
178,179,2013,3,8,10,122.000000,175.000000,31.7016,50.093200,NaN,75.0,17.3,997.3,-3.5,0.0,SE,1.4,Dingling
243,244,2013,3,11,3,75.000000,83.000000,18.0000,34.000000,NaN,100.0,-1.4,1014.1,-10.8,0.0,N,0.9,Dingling
252,253,2013,3,11,12,113.000000,153.000000,58.0000,68.000000,NaN,100.0,8.3,1010.4,-9.2,0.0,ESE,0.9,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34866,34867,2017,2,20,18,65.989497,83.739723,2.0000,27.585467,NaN,NaN,3.3,1022.2,-20.9,0.0,NE,1.1,Dingling
34883,34884,2017,2,21,11,65.989497,83.739723,26.0000,68.000000,NaN,5.0,-0.5,1022.7,-16.0,0.0,ESE,1.9,Dingling
34884,34885,2017,2,21,12,62.000000,62.000000,2.0000,53.000000,NaN,NaN,0.0,1022.2,-15.5,0.0,ESE,1.6,Dingling
34885,34886,2017,2,21,13,65.989497,83.739723,2.0000,27.585467,NaN,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Dingling
35056,35057,2017,2,28,16,14.000000,30.000000,2.0000,6.000000,NaN,93.0,15.4,1007.2,-12.9,0.0,WNW,4.4,Dingling

In [23]:
Dingling_df['CO'].fillna(value=Dingling_df['CO'].mean(), inplace=True)

In [24]:
Dingling_df[(Dingling_df['CO'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [25]:
Dingling_df[(Dingling_df['O3'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
435,436,2013,3,19,3,40.000000,20.000000,4.0,28.000000,904.896073,NaN,-0.5,1003.0,-2.2,0.0,SE,2.1,Dingling
531,532,2013,3,23,3,56.000000,71.000000,12.0,64.000000,904.896073,NaN,0.7,1005.5,-4.0,0.0,ESE,3.4,Dingling
627,628,2013,3,27,3,225.000000,221.000000,29.0,66.000000,904.896073,NaN,3.2,998.6,-0.8,0.0,NE,0.0,Dingling
723,724,2013,3,31,3,118.000000,104.000000,14.0,61.000000,904.896073,NaN,3.9,1013.2,0.4,0.0,ESE,3.1,Dingling
750,751,2013,4,1,6,229.000000,235.000000,25.0,46.000000,904.896073,NaN,5.3,1005.3,-0.5,0.0,WNW,2.7,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34864,34865,2017,2,20,16,65.989497,83.739723,2.0,27.585467,904.896073,NaN,4.4,1022.1,-21.7,0.0,WNW,3.4,Dingling
34866,34867,2017,2,20,18,65.989497,83.739723,2.0,27.585467,904.896073,NaN,3.3,1022.2,-20.9,0.0,NE,1.1,Dingling
34884,34885,2017,2,21,12,62.000000,62.000000,2.0,53.000000,904.896073,NaN,0.0,1022.2,-15.5,0.0,ESE,1.6,Dingling
34885,34886,2017,2,21,13,65.989497,83.739723,2.0,27.585467,904.896073,NaN,-1.0,1021.5,-9.4,0.0,SW,1.7,Dingling
34933,34934,2017,2,23,13,6.000000,6.000000,4.0,2.000000,200.000000,NaN,6.6,1018.8,-14.2,0.0,WNW,4.7,Dingling

In [26]:
Dingling_df.O3.value_counts()

O3
2.0000      1798
69.0000      344
56.0000      341
54.0000      336
68.0000      335
            ...
295.3818       1
67.9014        1
74.9700        1
77.7546        1
300.0000       1
Name: count, Length: 792, dtype: int64

In [27]:
Dingling_df.O3.fillna(value=2.0000, inplace=True)

In [28]:
Dingling_df[(Dingling_df['TEMP'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
16748,16749,2015,1,27,20,39.0,43.0,28.0,34.0,1100.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
16813,16814,2015,1,30,13,15.0,19.0,19.0,5.0,400.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
16829,16830,2015,1,31,5,5.0,11.0,32.0,8.0,400.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
16873,16874,2015,2,2,1,60.0,60.0,30.0,39.0,2600.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
16883,16884,2015,2,2,11,138.0,138.0,52.0,73.0,2200.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
16930,16931,2015,2,4,10,8.0,8.0,13.0,5.0,200.0,69.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
16933,16934,2015,2,4,13,13.0,16.0,14.0,3.0,300.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17007,17008,2015,2,7,15,3.0,24.0,2.0,2.0,200.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17030,17031,2015,2,8,14,4.0,5.0,7.0,2.0,200.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17052,17053,2015,2,9,12,87.0,87.0,82.0,53.0,1600.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17053,17054,2015,2,9,13,95.0,95.0,77.0,55.0,1600.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17078,17079,2015,2,10,14,29.0,31.0,31.0,14.0,500.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17090,17091,2015,2,11,2,12.0,32.0,2.0,4.0,200.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17112,17113,2015,2,12,0,7.0,15.0,3.0,2.0,200.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17150,17151,2015,2,13,14,113.0,120.0,40.0,61.0,1600.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17261,17262,2015,2,18,5,5.0,5.0,2.0,2.0,200.0,87.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17263,17264,2015,2,18,7,6.0,10.0,9.0,3.0,300.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17266,17267,2015,2,18,10,18.0,18.0,34.0,5.0,500.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17267,17268,2015,2,18,11,23.0,23.0,52.0,7.0,600.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17311,17312,2015,2,20,7,163.0,163.0,8.0,30.0,1400.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17322,17323,2015,2,20,18,163.0,163.0,12.0,50.0,2000.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17340,17341,2015,2,21,12,164.0,164.0,16.0,46.0,2100.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17342,17343,2015,2,21,14,207.0,207.0,16.0,46.0,2300.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17348,17349,2015,2,21,20,43.0,616.0,2.0,2.0,1800.0,94.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17354,17355,2015,2,22,2,140.0,140.0,2.0,2.0,1800.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17364,17365,2015,2,22,12,15.0,157.0,5.0,2.0,200.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17381,17382,2015,2,23,5,34.0,34.0,37.0,12.0,700.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17398,17399,2015,2,23,22,72.0,116.0,10.0,18.0,900.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17412,17413,2015,2,24,12,121.0,191.0,43.0,32.0,1500.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17436,17437,2015,2,25,12,17.0,41.0,8.0,3.0,300.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17486,17487,2015,2,27,14,19.0,21.0,12.0,27.0,600.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17516,17517,2015,2,28,20,214.0,214.0,5.0,61.0,1800.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
17676,17677,2015,3,7,12,241.0,250.0,55.0,73.0,2200.0,65.0,NaN,NaN,NaN,NaN,SE,1.6,Dingling
31047,31048,2016,9,14,15,110.0,110.0,4.0,20.0,100.0,258.0,NaN,NaN,NaN,NaN,SE,1.7,Dingling
31315,31316,2016,9,25,19,148.0,148.0,5.0,18.0,1800.0,83.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
31316,31317,2016,9,25,20,152.0,152.0,4.0,17.0,1800.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
31317,31318,2016,9,25,21,154.0,154.0,4.0,12.0,1900.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
31318,31319,2016,9,25,22,145.0,145.0,5.0,10.0,1600.0,96.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
31319,31320,2016,9,25,23,122.0,122.0,5.0,11.0,1300.0,95.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
31320,31321,2016,9,26,0,104.0,104.0,4.0,9.0,1100.0,102.0,NaN,NaN,NaN,NaN,SE,1.2,Dingling
33872,33873,2017,1,10,8,17.0,32.0,6.0,17.0,700.0,40.0,NaN,NaN,NaN,NaN,NW,3.3,Dingling
33882,33883,2017,1,10,18,5.0,12.0,2.0,2.0,200.0,78.0,NaN,NaN,NaN,NaN,NW,1.2,Dingling
34083,34084,2017,1,19,3,58.0,73.0,11.0,30.0,100.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
34084,34085,2017,1,19,4,60.0,78.0,10.0,29.0,1300.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
34085,34086,2017,1,19,5,71.0,103.0,18.0,42.0,200.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
34086,34087,2017,1,19,6,85.0,111.0,15.0,47.0,1900.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
34087,34088,2017,1,19,7,83.0,96.0,13.0,45.0,1800.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
34088,34089,2017,1,19,8,85.0,100.0,15.0,40.0,1600.0,2.0,NaN,NaN,NaN,NaN,NW,8.0,Dingling
34282,34283,2017,1,27,10,32.0,32.0,16.0,32.0,800.0,63.0,NaN,1023.25,NaN,0.0,SE,1.4,Dingling
34283,34284,2017,1,27,11,21.0,32.0,16.0,32.0,700.0,68.0,NaN,1023.00,NaN,0.0,SE,0.9,Dingling
34284,34285,2017,1,27,12,29.0,29.0,14.0,31.0,700.0,73.0,NaN,1023.00,NaN,0.0,SE,0.7,Dingling
34285,34286,2017,1,27,13,23.0,23.0,12.0,28.0,600.0,91.0,NaN,NaN,NaN,NaN,NaN,NaN,Dingling
34286,34287,2017,1,27,14,24.0,24.0,12.0,25.0,500.0,92.0,NaN,NaN,NaN,NaN,SE,3.4,Dingling

In [29]:
Dingling_df = Dingling_df.dropna(axis=0, subset=['TEMP'])

In [35]:
print("Jumlah missing values: \n", Dingling_df.isna().sum())

Jumlah missing values:
 No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       1
wd         0
WSPM       0
station    0
dtype: int64

In [31]:
Dingling_df[(Dingling_df['wd'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
5107,5108,2013,9,29,19,224.0,173.0,6.0,50.0,1200.0,21.0000,17.90,1010.5,15.7,0.0,NaN,0.0,Dingling
5110,5111,2013,9,29,22,141.0,91.0,4.0,41.0,1200.0,7.0000,17.90,1011.0,15.5,0.0,NaN,0.0,Dingling
5111,5112,2013,9,29,23,131.0,92.0,4.0,16.0,1200.0,22.0000,17.90,1010.8,15.3,0.0,NaN,0.0,Dingling
6389,6390,2013,11,22,5,34.0,64.0,22.0,44.0,800.0,9.8532,-1.60,1017.3,-6.7,0.0,NaN,0.0,Dingling
6411,6412,2013,11,23,3,98.0,111.0,31.0,103.0,1500.0,3.0000,0.40,1012.1,-5.8,0.0,NaN,0.0,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34296,34297,2017,1,28,0,98.0,116.0,23.0,42.0,1100.0,54.0000,-0.95,1015.5,-15.4,0.0,NaN,0.3,Dingling
34447,34448,2017,2,3,7,70.0,78.0,28.0,52.0,1800.0,17.0000,-5.50,1016.1,-17.9,0.0,NaN,0.2,Dingling
34519,34520,2017,2,6,7,9.0,9.0,2.0,2.0,200.0,83.0000,-3.50,1022.0,-14.6,0.0,NaN,0.4,Dingling
34538,34539,2017,2,7,2,33.0,33.0,9.0,26.0,900.0,35.0000,-2.20,1022.8,-16.3,0.0,NaN,0.1,Dingling
34873,34874,2017,2,21,1,51.0,63.0,17.0,25.0,1400.0,40.0000,-3.00,1024.4,-19.0,0.0,NaN,0.5,Dingling

In [32]:
Dingling_df.wd.value_counts()

wd
NNW    4776
NW     3835
N      3777
WNW    2877
ESE    2786
E      2427
NNE    1919
SSE    1853
SE     1816
NE     1721
S      1700
W      1412
ENE    1305
SSW    1126
SW      880
WSW     704
Name: count, dtype: int64

In [33]:
Dingling_df.wd.fillna(value="NNW", inplace=True)

In [34]:
Dingling_df[(Dingling_df['wd'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [82]:
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df['PM2.5'].fillna(value=Aotizhongxin_df['PM2.5'].mean(), inplace=True)
Aotizhongxin_df.NO2.value_counts()
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df.SO2.fillna(value=2.0000, inplace=True)
print("Jumlah missing values: \n", Aotizhongxin_df.isna().sum())
Aotizhongxin_df[(Aotizhongxin_df['TEMP'].isna())]

NameError: name 'Aotizhongxin_df' is not defined