In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
Dongsi_df = pd.read_csv("https://raw.githubusercontent.com/ortenox/data_analyst_project/main/PRSA_Data_Dongsi_20130301-20170228.csv")

In [46]:
Dongsi_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Dongsi
1,2,2013,3,1,1,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Dongsi
2,3,2013,3,1,2,7.0,7.0,NaN,17.0,300.0,60.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Dongsi
3,4,2013,3,1,3,3.0,3.0,5.0,18.0,NaN,NaN,-1.4,1026.2,-25.5,0.0,N,4.9,Dongsi
4,5,2013,3,1,4,3.0,3.0,7.0,NaN,200.0,84.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Dongsi

In [47]:
Dongsi_df.info()
print("Jumlah missing values: \n", Dongsi_df.isna().sum())
print("Jumlah duplikasi: ", Dongsi_df.duplicated().sum())
Dongsi_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34314 non-null  float64
 6   PM10     34511 non-null  float64
 7   SO2      34401 non-null  float64
 8   NO2      33463 non-null  float64
 9   CO       31867 non-null  float64
 10  O3       34400 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB
Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       750
PM10        553
SO2         663
NO2        1601
CO         3197
O3          664
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64
Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34314.000000,34511.000000,34401.000000,33463.000000,31867.000000,34400.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,86.194297,110.336742,18.531107,53.699443,1330.069131,57.210637,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,86.575127,98.219860,22.905655,33.959230,1191.305887,58.033275,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.642600,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,4.000000,27.000000,600.000000,12.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,61.000000,86.000000,10.000000,47.000000,1000.000000,44.125200,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,119.000000,151.000000,24.000000,73.000000,1700.000000,81.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,737.000000,955.000000,300.000000,258.000000,10000.000000,1071.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

In [48]:
Dongsi_df[(Dongsi_df['PM2.5'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
616,617,2013,3,26,16,NaN,NaN,NaN,NaN,NaN,NaN,13.5,1005.3,-2.5,0.0,WSW,4.2,Dongsi
1092,1093,2013,4,15,12,NaN,168.0,79.0,50.0,1600.0,NaN,17.9,998.5,-2.4,0.0,SSW,3.0,Dongsi
1642,1643,2013,5,8,10,NaN,169.0,93.0,64.0,NaN,76.4694,22.1,1011.0,9.6,0.0,ENE,1.9,Dongsi
1643,1644,2013,5,8,11,NaN,214.0,89.0,73.0,2100.0,72.0000,22.7,1010.5,10.2,0.0,SE,0.8,Dongsi
2304,2305,2013,6,5,0,NaN,38.0,14.0,37.0,1300.0,84.0000,18.5,1008.0,18.0,3.0,W,0.9,Dongsi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34913,34914,2017,2,22,17,NaN,6.0,10.0,44.0,1400.0,57.0000,6.8,1017.6,-9.2,0.0,NNW,2.6,Dongsi
35030,35031,2017,2,27,14,NaN,NaN,NaN,NaN,NaN,NaN,14.2,1014.7,-6.7,0.0,SW,2.1,Dongsi
35031,35032,2017,2,27,15,NaN,NaN,NaN,NaN,NaN,NaN,15.7,1014.1,-7.2,0.0,SW,2.7,Dongsi
35032,35033,2017,2,27,16,NaN,NaN,NaN,NaN,NaN,NaN,15.9,1014.0,-9.9,0.0,SW,2.9,Dongsi
35033,35034,2017,2,27,17,NaN,NaN,NaN,NaN,NaN,NaN,15.4,1013.8,-9.6,0.0,SW,1.9,Dongsi

In [49]:
Dongsi_df['PM2.5'].fillna(value=Dongsi_df['PM2.5'].mean(), inplace=True)

In [50]:
Dongsi_df[(Dongsi_df['PM2.5'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [51]:
Dongsi_df[(Dongsi_df['PM10'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
204,205,2013,3,9,12,77.000000,NaN,8.0000,23.0000,400.0,99.0,11.7,1005.8,-16.8,0.0,N,9.2,Dongsi
616,617,2013,3,26,16,86.194297,NaN,NaN,NaN,NaN,NaN,13.5,1005.3,-2.5,0.0,WSW,4.2,Dongsi
2345,2346,2013,6,6,17,86.194297,NaN,3.0000,78.0000,3100.0,14.0,20.6,1004.5,19.4,0.0,N,0.7,Dongsi
3251,3252,2013,7,14,11,90.000000,NaN,17.7072,33.6692,NaN,92.0,29.5,1004.4,18.6,0.0,SE,1.5,Dongsi
3497,3498,2013,7,24,17,86.194297,NaN,NaN,NaN,NaN,NaN,36.8,994.3,14.7,0.0,NW,1.4,Dongsi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34885,34886,2017,2,21,13,86.194297,NaN,NaN,NaN,NaN,NaN,-2.1,1027.4,-4.1,0.7,WSW,3.2,Dongsi
35030,35031,2017,2,27,14,86.194297,NaN,NaN,NaN,NaN,NaN,14.2,1014.7,-6.7,0.0,SW,2.1,Dongsi
35031,35032,2017,2,27,15,86.194297,NaN,NaN,NaN,NaN,NaN,15.7,1014.1,-7.2,0.0,SW,2.7,Dongsi
35032,35033,2017,2,27,16,86.194297,NaN,NaN,NaN,NaN,NaN,15.9,1014.0,-9.9,0.0,SW,2.9,Dongsi
35033,35034,2017,2,27,17,86.194297,NaN,NaN,NaN,NaN,NaN,15.4,1013.8,-9.6,0.0,SW,1.9,Dongsi

In [52]:
Dongsi_df['PM10'].fillna(value=Dongsi_df['PM10'].mean(), inplace=True)

In [53]:
Dongsi_df[(Dongsi_df['PM10'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [54]:
Dongsi_df[(Dongsi_df['SO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
2,3,2013,3,1,2,7.000000,7.000000,NaN,17.0,300.0,60.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Dongsi
98,99,2013,3,5,2,95.000000,133.000000,NaN,71.0,1399.0,102.0,4.7,1016.1,-10.6,0.0,S,0.0,Dongsi
194,195,2013,3,9,2,64.000000,93.000000,NaN,76.0,2399.0,99.0,2.6,995.9,-3.7,0.0,ENE,1.2,Dongsi
616,617,2013,3,26,16,86.194297,110.336742,NaN,NaN,NaN,NaN,13.5,1005.3,-2.5,0.0,WSW,4.2,Dongsi
617,618,2013,3,26,17,3.000000,3.000000,NaN,NaN,NaN,NaN,13.1,1005.2,-0.9,0.0,SW,2.2,Dongsi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34890,34891,2017,2,21,18,32.000000,37.000000,NaN,NaN,NaN,26.0,-1.8,1022.5,-5.8,0.0,SE,2.8,Dongsi
35030,35031,2017,2,27,14,86.194297,110.336742,NaN,NaN,NaN,NaN,14.2,1014.7,-6.7,0.0,SW,2.1,Dongsi
35031,35032,2017,2,27,15,86.194297,110.336742,NaN,NaN,NaN,NaN,15.7,1014.1,-7.2,0.0,SW,2.7,Dongsi
35032,35033,2017,2,27,16,86.194297,110.336742,NaN,NaN,NaN,NaN,15.9,1014.0,-9.9,0.0,SW,2.9,Dongsi
35033,35034,2017,2,27,17,86.194297,110.336742,NaN,NaN,NaN,NaN,15.4,1013.8,-9.6,0.0,SW,1.9,Dongsi

In [55]:
Dongsi_df.SO2.value_counts()

SO2
2.0000      6248
3.0000      1788
4.0000      1671
5.0000      1432
6.0000      1408
            ...
71.4000        1
67.4016        1
38.5560        1
60.2616        1
172.0000       1
Name: count, Length: 392, dtype: int64

In [56]:
Dongsi_df.SO2.fillna(value=2.0000, inplace=True)

In [57]:
Dongsi_df[(Dongsi_df['SO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [58]:
print("Jumlah missing values: \n", Dongsi_df.isna().sum())

Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5         0
PM10          0
SO2           0
NO2        1601
CO         3197
O3          664
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

In [59]:
Dongsi_df[(Dongsi_df['NO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
4,5,2013,3,1,4,3.000000,3.000000,7.0,NaN,200.0,84.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Dongsi
100,101,2013,3,5,4,115.000000,138.000000,81.0,NaN,1200.0,102.0,1.3,1015.7,-8.8,0.0,ESE,1.2,Dongsi
196,197,2013,3,9,4,83.000000,99.000000,59.0,NaN,2100.0,99.0,1.7,993.7,-4.0,0.0,E,0.0,Dongsi
616,617,2013,3,26,16,86.194297,110.336742,2.0,NaN,NaN,NaN,13.5,1005.3,-2.5,0.0,WSW,4.2,Dongsi
617,618,2013,3,26,17,3.000000,3.000000,2.0,NaN,NaN,NaN,13.1,1005.2,-0.9,0.0,SW,2.2,Dongsi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34890,34891,2017,2,21,18,32.000000,37.000000,2.0,NaN,NaN,26.0,-1.8,1022.5,-5.8,0.0,SE,2.8,Dongsi
35030,35031,2017,2,27,14,86.194297,110.336742,2.0,NaN,NaN,NaN,14.2,1014.7,-6.7,0.0,SW,2.1,Dongsi
35031,35032,2017,2,27,15,86.194297,110.336742,2.0,NaN,NaN,NaN,15.7,1014.1,-7.2,0.0,SW,2.7,Dongsi
35032,35033,2017,2,27,16,86.194297,110.336742,2.0,NaN,NaN,NaN,15.9,1014.0,-9.9,0.0,SW,2.9,Dongsi
35033,35034,2017,2,27,17,86.194297,110.336742,2.0,NaN,NaN,NaN,15.4,1013.8,-9.6,0.0,SW,1.9,Dongsi

In [60]:
Dongsi_df.NO2.value_counts()

NO2
20.0000     468
32.0000     456
30.0000     448
34.0000     444
28.0000     436
           ...
139.1934      1
134.6768      1
103.2659      1
212.0000      1
203.0000      1
Name: count, Length: 701, dtype: int64

In [61]:
Dongsi_df.NO2.describe()

count    33463.000000
mean        53.699443
std         33.959230
min          2.000000
25%         27.000000
50%         47.000000
75%         73.000000
max        258.000000
Name: NO2, dtype: float64

In [62]:
Dongsi_df['NO2'].fillna(value=Dongsi_df['NO2'].mean(), inplace=True)

In [63]:
Dongsi_df[(Dongsi_df['NO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [64]:
Dongsi_df[(Dongsi_df['CO'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
3,4,2013,3,1,3,3.000000,3.000000,5.0000,18.000000,NaN,NaN,-1.4,1026.2,-25.5,0.0,N,4.9,Dongsi
74,75,2013,3,4,2,43.000000,48.000000,6.2832,20.119400,NaN,94.0,8.4,1018.7,-13.9,0.0,N,1.5,Dongsi
99,100,2013,3,5,3,104.000000,136.000000,71.0000,78.000000,NaN,102.0,4.5,1015.7,-9.3,0.0,N,0.0,Dongsi
178,179,2013,3,8,10,260.000000,197.000000,81.1104,191.339600,NaN,107.0,19.9,1002.4,-5.2,0.0,E,0.9,Dongsi
195,196,2013,3,9,3,74.000000,98.000000,52.0000,89.000000,NaN,99.0,2.3,994.7,-4.2,0.0,E,0.9,Dongsi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34890,34891,2017,2,21,18,32.000000,37.000000,2.0000,53.699443,NaN,26.0,-1.8,1022.5,-5.8,0.0,SE,2.8,Dongsi
35030,35031,2017,2,27,14,86.194297,110.336742,2.0000,53.699443,NaN,NaN,14.2,1014.7,-6.7,0.0,SW,2.1,Dongsi
35031,35032,2017,2,27,15,86.194297,110.336742,2.0000,53.699443,NaN,NaN,15.7,1014.1,-7.2,0.0,SW,2.7,Dongsi
35032,35033,2017,2,27,16,86.194297,110.336742,2.0000,53.699443,NaN,NaN,15.9,1014.0,-9.9,0.0,SW,2.9,Dongsi
35033,35034,2017,2,27,17,86.194297,110.336742,2.0000,53.699443,NaN,NaN,15.4,1013.8,-9.6,0.0,SW,1.9,Dongsi

In [65]:
Dongsi_df['CO'].fillna(value=Dongsi_df['CO'].mean(), inplace=True)

In [66]:
Dongsi_df[(Dongsi_df['CO'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [67]:
Dongsi_df[(Dongsi_df['O3'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
3,4,2013,3,1,3,3.000000,3.000000,5.0000,18.000000,1330.069131,NaN,-1.4,1026.2,-25.5,0.0,N,4.9,Dongsi
483,484,2013,3,21,3,85.000000,75.000000,15.0000,44.000000,1330.069131,NaN,0.8,1011.1,-4.2,0.0,SSE,1.1,Dongsi
579,580,2013,3,25,3,78.000000,104.000000,23.4192,58.000000,1330.069131,NaN,-0.7,1019.3,-6.1,0.0,E,1.5,Dongsi
582,583,2013,3,25,6,68.000000,81.000000,20.0000,65.000000,1330.069131,NaN,-1.2,1020.4,-6.4,0.0,ESE,0.9,Dongsi
615,616,2013,3,26,15,187.000000,206.000000,69.0000,78.000000,1330.069131,NaN,13.4,1006.1,-2.2,0.0,SSW,1.8,Dongsi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34889,34890,2017,2,21,17,25.000000,57.000000,2.0000,41.000000,1330.069131,NaN,-1.4,1023.2,-5.6,0.0,ESE,2.3,Dongsi
35030,35031,2017,2,27,14,86.194297,110.336742,2.0000,53.699443,1330.069131,NaN,14.2,1014.7,-6.7,0.0,SW,2.1,Dongsi
35031,35032,2017,2,27,15,86.194297,110.336742,2.0000,53.699443,1330.069131,NaN,15.7,1014.1,-7.2,0.0,SW,2.7,Dongsi
35032,35033,2017,2,27,16,86.194297,110.336742,2.0000,53.699443,1330.069131,NaN,15.9,1014.0,-9.9,0.0,SW,2.9,Dongsi
35033,35034,2017,2,27,17,86.194297,110.336742,2.0000,53.699443,1330.069131,NaN,15.4,1013.8,-9.6,0.0,SW,1.9,Dongsi

In [68]:
Dongsi_df.O3.value_counts()

O3
2.0000      2950
3.0000       904
4.0000       862
5.0000       600
6.0000       541
            ...
111.3840       1
91.0350        1
88.4646        1
93.8196        1
346.0000       1
Name: count, Length: 737, dtype: int64

In [69]:
Dongsi_df.O3.fillna(value=2.0000, inplace=True)

In [70]:
Dongsi_df[(Dongsi_df['TEMP'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
16748,16749,2015,1,27,20,35.0,50.0,14.0,66.0,1000.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
17263,17264,2015,2,18,7,12.0,12.0,8.0,24.0,400.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
31047,31048,2016,9,14,15,78.0,78.0,7.0,18.0,900.0,186.0,NaN,NaN,NaN,NaN,SW,3.1,Dongsi
31315,31316,2016,9,25,19,183.0,183.0,8.0,76.0,2500.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
31316,31317,2016,9,25,20,143.0,143.0,7.0,42.0,1600.0,101.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
31317,31318,2016,9,25,21,106.0,106.0,8.0,30.0,1400.0,102.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
31318,31319,2016,9,25,22,95.0,95.0,6.0,32.0,1400.0,76.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
31319,31320,2016,9,25,23,90.0,90.0,5.0,33.0,1300.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
31320,31321,2016,9,26,0,88.0,88.0,5.0,40.0,1200.0,42.0,NaN,NaN,NaN,NaN,NE,2.4,Dongsi
33872,33873,2017,1,10,8,7.0,7.0,5.0,43.0,1300.0,31.0,NaN,NaN,NaN,NaN,NW,2.6,Dongsi
33882,33883,2017,1,10,18,15.0,15.0,9.0,36.0,700.0,68.0,NaN,NaN,NaN,NaN,SW,2.0,Dongsi
34083,34084,2017,1,19,3,102.0,123.0,39.0,77.0,2900.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
34084,34085,2017,1,19,4,118.0,186.0,39.0,81.0,1600.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
34085,34086,2017,1,19,5,135.0,182.0,32.0,74.0,2700.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
34086,34087,2017,1,19,6,117.0,149.0,32.0,74.0,2400.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
34087,34088,2017,1,19,7,111.0,152.0,33.0,74.0,2400.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
34088,34089,2017,1,19,8,108.0,144.0,33.0,77.0,2500.0,2.0,NaN,NaN,NaN,NaN,NW,1.1,Dongsi
34285,34286,2017,1,27,13,46.0,85.0,13.0,14.0,700.0,76.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
34286,34287,2017,1,27,14,42.0,96.0,11.0,12.0,600.0,76.0,NaN,NaN,NaN,NaN,NaN,NaN,Dongsi
34287,34288,2017,1,27,15,48.0,96.0,13.0,13.0,600.0,73.0,NaN,NaN,NaN,NaN,SW,5.4,Dongsi

In [71]:
Dongsi_df = Dongsi_df.dropna(axis=0, subset=['TEMP'])

In [72]:
print("Jumlah missing values: \n", Dongsi_df.isna().sum())

Jumlah missing values:
 No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd         64
WSPM        0
station     0
dtype: int64

In [40]:
Dongsi_df = Dongsi_df.dropna(axis=0, subset=['RAIN'])

In [41]:
Dongsi_df[(Dongsi_df['wd'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [42]:
Dongsi_df.wd.value_counts()

wd
NNW    4873
NW     3835
N      3777
WNW    2877
ESE    2786
E      2427
NNE    1919
SSE    1853
SE     1816
NE     1720
S      1700
W      1412
ENE    1305
SSW    1126
SW      880
WSW     704
Name: count, dtype: int64

In [43]:
Dongsi_df.wd.fillna(value="NNW", inplace=True)

In [44]:
Dongsi_df[(Dongsi_df['wd'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [82]:
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df['PM2.5'].fillna(value=Aotizhongxin_df['PM2.5'].mean(), inplace=True)
Aotizhongxin_df.NO2.value_counts()
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df.SO2.fillna(value=2.0000, inplace=True)
print("Jumlah missing values: \n", Aotizhongxin_df.isna().sum())
Aotizhongxin_df[(Aotizhongxin_df['TEMP'].isna())]

NameError: name 'Aotizhongxin_df' is not defined