In [145]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [146]:
Huairou_df = pd.read_csv("https://raw.githubusercontent.com/ortenox/data_analyst_project/main/PRSA_Data_Huairou_20130301-20170228.csv")

In [147]:
Huairou_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,7.0,7.0,3.0,2.0,100.0,91.0,-2.3,1020.3,-20.7,0.0,WNW,3.1,Huairou
1,2,2013,3,1,1,4.0,4.0,3.0,NaN,100.0,92.0,-2.7,1020.8,-20.5,0.0,NNW,1.5,Huairou
2,3,2013,3,1,2,4.0,4.0,NaN,NaN,100.0,91.0,-3.2,1020.6,-21.4,0.0,NW,1.8,Huairou
3,4,2013,3,1,3,3.0,3.0,3.0,2.0,NaN,NaN,-3.3,1021.3,-23.7,0.0,NNW,2.4,Huairou
4,5,2013,3,1,4,3.0,3.0,7.0,NaN,300.0,86.0,-4.1,1022.1,-22.7,0.0,NNW,2.2,Huairou

In [148]:
Huairou_df.info()
print("Jumlah missing values: \n", Huairou_df.isna().sum())
print("Jumlah duplikasi: ", Huairou_df.duplicated().sum())
Huairou_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34111 non-null  float64
 6   PM10     34287 non-null  float64
 7   SO2      34084 non-null  float64
 8   NO2      33425 non-null  float64
 9   CO       33642 non-null  float64
 10  O3       33913 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35011 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35009 non-null  float64
 15  wd       34762 non-null  object
 16  WSPM     35015 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB
Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       953
PM10        777
SO2         980
NO2        1639
CO         1422
O3         1151
TEMP         51
PRES         53
DEWP         53
RAIN         55
wd          302
WSPM         49
station       0
dtype: int64
Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34111.000000,34287.000000,34084.000000,33425.000000,33642.000000,33913.000000,35013.000000,35011.000000,35011.000000,35009.000000,35015.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,69.626367,91.482690,12.121553,32.497250,1022.554545,59.824713,12.445426,1007.598568,2.238619,0.067940,1.652021
std,10122.249256,1.177213,3.448752,8.800218,6.922285,71.224916,83.289578,18.896912,26.489531,898.738241,54.605746,11.751103,10.022101,14.052541,0.849046,1.199143
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-19.900000,982.800000,-43.400000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,17.000000,28.000000,2.000000,12.000000,400.000000,18.000000,2.100000,999.300000,-9.600000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,47.000000,69.000000,4.000000,25.000000,800.000000,49.000000,13.600000,1007.300000,2.700000,0.000000,1.300000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,98.000000,131.000000,14.000000,46.000000,1300.000000,83.000000,22.300000,1015.500000,15.300000,0.000000,2.000000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,762.000000,993.000000,315.000000,231.000000,10000.000000,444.000000,40.300000,1036.500000,29.100000,45.900000,12.900000

In [149]:
Huairou_df[(Huairou_df['PM2.5'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
91,92,2013,3,4,19,NaN,53.0,23.0,79.0,700.0,18.0,5.6,1013.5,-12.0,0.0,W,1.6,Huairou
92,93,2013,3,4,20,NaN,92.0,30.0,90.0,1000.0,8.0,3.5,1013.7,-11.7,0.0,NW,1.6,Huairou
93,94,2013,3,4,21,NaN,100.0,24.0,54.0,1000.0,25.0,2.3,1013.7,-10.3,0.0,NW,1.0,Huairou
94,95,2013,3,4,22,NaN,85.0,22.0,54.0,900.0,21.0,2.1,1013.6,-10.8,0.0,WNW,2.2,Huairou
95,96,2013,3,4,23,NaN,74.0,18.0,47.0,900.0,91.0,1.4,1013.1,-10.8,0.0,N,0.8,Huairou
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,NaN,NaN,NaN,NaN,NaN,NaN,-5.2,1023.6,-13.8,0.0,N,0.8,Huairou
34880,34881,2017,2,21,8,NaN,NaN,NaN,NaN,NaN,NaN,-3.6,1023.8,-15.3,0.0,NW,1.3,Huairou
34883,34884,2017,2,21,11,NaN,NaN,NaN,NaN,NaN,NaN,-0.6,1022.9,-15.3,0.0,ESE,1.7,Huairou
34885,34886,2017,2,21,13,NaN,NaN,NaN,NaN,NaN,NaN,0.3,1021.3,-14.9,0.0,SE,1.1,Huairou
34934,34935,2017,2,23,14,NaN,6.0,NaN,11.0,NaN,99.0,7.0,1016.9,-11.7,0.0,W,5.8,Huairou

In [150]:
Huairou_df['PM2.5'].fillna(value=Huairou_df['PM2.5'].mean(), inplace=True)

In [151]:
Huairou_df[(Huairou_df['PM2.5'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [152]:
Huairou_df[(Huairou_df['PM10'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
162,163,2013,3,7,18,350.000000,NaN,67.000,199.0000,3000.0,68.0000,11.0,994.8,-3.5,0.0,WSW,1.0,Huairou
163,164,2013,3,7,19,363.000000,NaN,57.000,198.0000,3500.0,4.0000,8.8,994.7,-3.4,0.0,WNW,2.0,Huairou
636,637,2013,3,27,12,3.000000,NaN,25.000,NaN,1500.0,65.0000,18.3,999.6,-2.1,0.0,ESE,2.3,Huairou
1327,1328,2013,4,25,7,14.000000,NaN,3.000,9.0000,300.0,78.0000,14.8,1005.2,-6.7,0.0,WSW,5.5,Huairou
1330,1331,2013,4,25,10,69.626367,NaN,1.428,3.4901,NaN,103.4586,18.8,1004.9,-8.4,0.0,WNW,4.7,Huairou
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34877,34878,2017,2,21,5,69.626367,NaN,NaN,NaN,NaN,NaN,-5.0,1024.1,-15.7,0.0,ENE,0.6,Huairou
34879,34880,2017,2,21,7,69.626367,NaN,NaN,NaN,NaN,NaN,-5.2,1023.6,-13.8,0.0,N,0.8,Huairou
34880,34881,2017,2,21,8,69.626367,NaN,NaN,NaN,NaN,NaN,-3.6,1023.8,-15.3,0.0,NW,1.3,Huairou
34883,34884,2017,2,21,11,69.626367,NaN,NaN,NaN,NaN,NaN,-0.6,1022.9,-15.3,0.0,ESE,1.7,Huairou
34885,34886,2017,2,21,13,69.626367,NaN,NaN,NaN,NaN,NaN,0.3,1021.3,-14.9,0.0,SE,1.1,Huairou

In [153]:
Huairou_df['PM10'].fillna(value=Huairou_df['PM10'].mean(), inplace=True)

In [154]:
Huairou_df[(Huairou_df['PM10'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [155]:
Huairou_df[(Huairou_df['SO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
2,3,2013,3,1,2,4.000000,4.00000,NaN,NaN,100.0,91.000,-3.2,1020.6,-21.4,0.0,NW,1.8,Huairou
98,99,2013,3,5,2,69.626367,51.00000,NaN,27.0000,600.0,91.000,0.3,1011.6,-10.3,0.0,WNW,2.3,Huairou
194,195,2013,3,9,2,51.000000,72.00000,NaN,31.0000,1000.0,107.000,2.6,990.7,-4.0,0.0,SW,1.9,Huairou
999,1000,2013,4,11,15,69.626367,18.00000,NaN,70.2126,NaN,114.597,16.9,1007.0,-13.8,0.0,NW,3.0,Huairou
1154,1155,2013,4,18,2,9.000000,20.00000,NaN,NaN,200.0,95.000,7.2,1012.8,-12.1,0.0,NNE,5.4,Huairou
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,69.626367,91.48269,NaN,NaN,NaN,NaN,-5.2,1023.6,-13.8,0.0,N,0.8,Huairou
34880,34881,2017,2,21,8,69.626367,91.48269,NaN,NaN,NaN,NaN,-3.6,1023.8,-15.3,0.0,NW,1.3,Huairou
34883,34884,2017,2,21,11,69.626367,91.48269,NaN,NaN,NaN,NaN,-0.6,1022.9,-15.3,0.0,ESE,1.7,Huairou
34885,34886,2017,2,21,13,69.626367,91.48269,NaN,NaN,NaN,NaN,0.3,1021.3,-14.9,0.0,SE,1.1,Huairou
34934,34935,2017,2,23,14,69.626367,6.00000,NaN,11.0000,NaN,99.000,7.0,1016.9,-11.7,0.0,W,5.8,Huairou

In [156]:
Huairou_df.SO2.value_counts()

SO2
2.0000      11723
3.0000       3558
4.0000       1814
5.0000       1449
6.0000       1286
            ...
105.3864        1
28.8456         1
79.6824         1
180.0000        1
3.8000          1
Name: count, Length: 247, dtype: int64

In [157]:
Huairou_df.SO2.fillna(value=2.0000, inplace=True)

In [158]:
Huairou_df[(Huairou_df['SO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [159]:
print("Jumlah missing values: \n", Huairou_df.isna().sum())

Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5         0
PM10          0
SO2           0
NO2        1639
CO         1422
O3         1151
TEMP         51
PRES         53
DEWP         53
RAIN         55
wd          302
WSPM         49
station       0
dtype: int64

In [160]:
Huairou_df[(Huairou_df['NO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
1,2,2013,3,1,1,4.000000,4.00000,3.0,NaN,100.0,92.0,-2.7,1020.8,-20.5,0.0,NNW,1.5,Huairou
2,3,2013,3,1,2,4.000000,4.00000,2.0,NaN,100.0,91.0,-3.2,1020.6,-21.4,0.0,NW,1.8,Huairou
4,5,2013,3,1,4,3.000000,3.00000,7.0,NaN,300.0,86.0,-4.1,1022.1,-22.7,0.0,NNW,2.2,Huairou
11,12,2013,3,1,11,10.000000,11.00000,3.0,NaN,300.0,87.0,2.4,1024.5,-22.5,0.0,SE,3.9,Huairou
69,70,2013,3,3,21,18.000000,52.00000,10.0,NaN,300.0,52.0,4.7,1010.5,-12.3,0.0,WSW,0.0,Huairou
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,69.626367,91.48269,2.0,NaN,NaN,NaN,-5.2,1023.6,-13.8,0.0,N,0.8,Huairou
34880,34881,2017,2,21,8,69.626367,91.48269,2.0,NaN,NaN,NaN,-3.6,1023.8,-15.3,0.0,NW,1.3,Huairou
34883,34884,2017,2,21,11,69.626367,91.48269,2.0,NaN,NaN,NaN,-0.6,1022.9,-15.3,0.0,ESE,1.7,Huairou
34885,34886,2017,2,21,13,69.626367,91.48269,2.0,NaN,NaN,NaN,0.3,1021.3,-14.9,0.0,SE,1.1,Huairou
34936,34937,2017,2,23,16,11.000000,12.00000,3.0,NaN,300.0,96.0,8.1,1015.9,-13.0,0.0,W,5.4,Huairou

In [161]:
Huairou_df.NO2.value_counts()

NO2
2.0000      1036
6.0000       796
11.0000      796
8.0000       795
12.0000      777
            ...
42.9077        1
25.2519        1
19.2982        1
17.6558        1
174.0000       1
Name: count, Length: 296, dtype: int64

In [162]:
Huairou_df.NO2.describe()

count    33425.000000
mean        32.497250
std         26.489531
min          1.026500
25%         12.000000
50%         25.000000
75%         46.000000
max        231.000000
Name: NO2, dtype: float64

In [163]:
Huairou_df['NO2'].fillna(value=Huairou_df['NO2'].mean(), inplace=True)

In [164]:
Huairou_df[(Huairou_df['NO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [165]:
Huairou_df[(Huairou_df['CO'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
3,4,2013,3,1,3,3.000000,3.00000,3.0000,2.00000,NaN,NaN,-3.3,1021.3,-23.7,0.0,NNW,2.4,Huairou
29,30,2013,3,2,5,15.000000,18.00000,42.2688,26.48370,NaN,56.1204,-4.2,1026.9,-16.4,0.0,WNW,1.4,Huairou
99,100,2013,3,5,3,69.626367,51.00000,13.0000,28.00000,NaN,91.0000,-0.1,1011.1,-10.4,0.0,WNW,1.6,Huairou
110,111,2013,3,5,14,69.626367,146.00000,84.0000,83.00000,NaN,91.0000,14.3,1004.5,-8.4,0.0,ESE,1.7,Huairou
178,179,2013,3,8,10,173.000000,193.00000,105.3864,79.45110,NaN,68.0000,17.8,997.6,-3.6,0.0,SSE,2.8,Huairou
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,69.626367,91.48269,2.0000,32.49725,NaN,NaN,-5.2,1023.6,-13.8,0.0,N,0.8,Huairou
34880,34881,2017,2,21,8,69.626367,91.48269,2.0000,32.49725,NaN,NaN,-3.6,1023.8,-15.3,0.0,NW,1.3,Huairou
34883,34884,2017,2,21,11,69.626367,91.48269,2.0000,32.49725,NaN,NaN,-0.6,1022.9,-15.3,0.0,ESE,1.7,Huairou
34885,34886,2017,2,21,13,69.626367,91.48269,2.0000,32.49725,NaN,NaN,0.3,1021.3,-14.9,0.0,SE,1.1,Huairou
34934,34935,2017,2,23,14,69.626367,6.00000,2.0000,11.00000,NaN,99.0000,7.0,1016.9,-11.7,0.0,W,5.8,Huairou

In [166]:
Huairou_df['CO'].fillna(value=Huairou_df['CO'].mean(), inplace=True)

In [167]:
Huairou_df[(Huairou_df['CO'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [168]:
Huairou_df[(Huairou_df['O3'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
3,4,2013,3,1,3,3.000000,3.00000,3.0000,2.00000,1022.554545,NaN,-3.3,1021.3,-23.7,0.0,NNW,2.4,Huairou
483,484,2013,3,21,3,85.000000,91.00000,4.0000,63.00000,1022.554545,NaN,0.3,1006.2,-4.0,0.0,NE,0.6,Huairou
579,580,2013,3,25,3,44.000000,99.00000,10.8528,32.49725,1022.554545,NaN,-1.8,1014.3,-6.9,0.0,WNW,1.8,Huairou
675,676,2013,3,29,3,20.000000,36.00000,8.0000,26.00000,1022.554545,NaN,-0.8,1013.3,-10.2,0.0,NNW,0.5,Huairou
771,772,2013,4,2,3,3.000000,11.00000,3.0000,6.00000,1022.554545,NaN,-0.6,1013.5,-11.7,0.0,W,0.7,Huairou
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,69.626367,91.48269,2.0000,32.49725,1022.554545,NaN,-5.2,1023.6,-13.8,0.0,N,0.8,Huairou
34880,34881,2017,2,21,8,69.626367,91.48269,2.0000,32.49725,1022.554545,NaN,-3.6,1023.8,-15.3,0.0,NW,1.3,Huairou
34883,34884,2017,2,21,11,69.626367,91.48269,2.0000,32.49725,1022.554545,NaN,-0.6,1022.9,-15.3,0.0,ESE,1.7,Huairou
34885,34886,2017,2,21,13,69.626367,91.48269,2.0000,32.49725,1022.554545,NaN,0.3,1021.3,-14.9,0.0,SE,1.1,Huairou
34935,34936,2017,2,23,15,4.000000,4.00000,2.0000,8.00000,200.000000,NaN,7.6,1016.2,-12.8,0.0,W,5.9,Huairou

In [169]:
Huairou_df.O3.value_counts()

O3
2.0000      3300
4.0000       322
16.0000      315
12.0000      313
3.0000       307
            ...
47.5524        1
129.3768       1
169.8606       1
318.0000       1
356.0000       1
Name: count, Length: 812, dtype: int64

In [170]:
Huairou_df.O3.fillna(value=2.0000, inplace=True)

In [171]:
Huairou_df[(Huairou_df['TEMP'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
15899,15900,2014,12,23,11,53.0,78.00000,27.0,48.0,1100.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
15900,15901,2014,12,23,12,47.0,74.00000,26.0,41.0,900.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16740,16741,2015,1,27,12,14.0,14.00000,18.0,18.0,400.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16741,16742,2015,1,27,13,13.0,13.00000,2.0,9.0,300.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16752,16753,2015,1,28,0,48.0,48.00000,6.0,32.0,1300.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16761,16762,2015,1,28,9,12.0,20.00000,2.0,28.0,500.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16764,16765,2015,1,28,12,10.0,13.00000,3.0,9.0,300.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16765,16766,2015,1,28,13,10.0,12.00000,19.0,17.0,300.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16766,16767,2015,1,28,14,12.0,13.00000,14.0,16.0,300.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16810,16811,2015,1,30,10,22.0,22.00000,9.0,28.0,600.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16811,16812,2015,1,30,11,16.0,16.00000,3.0,12.0,400.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16814,16815,2015,1,30,14,11.0,11.00000,13.0,11.0,300.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16837,16838,2015,1,31,13,13.0,20.00000,4.0,11.0,400.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16874,16875,2015,2,2,2,59.0,59.00000,7.0,31.0,1100.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16909,16910,2015,2,3,13,178.0,178.00000,50.0,58.0,1800.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
16930,16931,2015,2,4,10,38.0,40.00000,9.0,41.0,700.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17007,17008,2015,2,7,15,8.0,38.00000,4.0,7.0,200.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17078,17079,2015,2,10,14,55.0,62.00000,36.0,41.0,800.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17112,17113,2015,2,12,0,12.0,20.00000,8.0,11.0,400.0,83.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17116,17117,2015,2,12,4,21.0,21.00000,2.0,6.0,800.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17125,17126,2015,2,12,13,12.0,16.00000,6.0,7.0,300.0,86.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17140,17141,2015,2,13,4,69.0,69.00000,2.0,33.0,1400.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17141,17142,2015,2,13,5,67.0,67.00000,2.0,37.0,1400.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17150,17151,2015,2,13,14,98.0,98.00000,42.0,41.0,1300.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17263,17264,2015,2,18,7,8.0,14.00000,2.0,10.0,300.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17266,17267,2015,2,18,10,18.0,22.00000,11.0,10.0,400.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17342,17343,2015,2,21,14,197.0,197.00000,2.0,42.0,2200.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17348,17349,2015,2,21,20,50.0,922.00000,2.0,5.0,200.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17354,17355,2015,2,22,2,158.0,91.48269,2.0,2.0,200.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17364,17365,2015,2,22,12,12.0,104.00000,2.0,2.0,200.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17381,17382,2015,2,23,5,34.0,63.00000,2.0,22.0,1100.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17398,17399,2015,2,23,22,255.0,392.00000,42.0,70.0,2000.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
17509,17510,2015,2,28,13,125.0,125.00000,8.0,37.0,1500.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
31047,31048,2016,9,14,15,139.0,139.00000,2.0,24.0,1200.0,220.0,NaN,NaN,NaN,NaN,SW,3.1,Huairou
31315,31316,2016,9,25,19,145.0,154.00000,4.0,23.0,1800.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
31316,31317,2016,9,25,20,144.0,150.00000,4.0,31.0,1900.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
31317,31318,2016,9,25,21,136.0,159.00000,6.0,27.0,1500.0,96.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
31318,31319,2016,9,25,22,123.0,128.00000,5.0,21.0,1100.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
31319,31320,2016,9,25,23,96.0,96.00000,5.0,16.0,900.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
31320,31321,2016,9,26,0,90.0,90.00000,6.0,18.0,1000.0,58.0,NaN,NaN,NaN,NaN,NW,1.3,Huairou
33872,33873,2017,1,10,8,11.0,25.00000,5.0,20.0,500.0,35.0,NaN,NaN,NaN,NaN,NE,0.8,Huairou
33882,33883,2017,1,10,18,6.0,14.00000,2.0,9.0,300.0,69.0,NaN,NaN,NaN,NaN,NW,1.0,Huairou
34083,34084,2017,1,19,3,48.0,63.00000,4.0,24.0,900.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
34084,34085,2017,1,19,4,52.0,64.00000,4.0,27.0,900.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
34085,34086,2017,1,19,5,61.0,74.00000,7.0,2.0,1100.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
34086,34087,2017,1,19,6,57.0,85.00000,5.0,43.0,1200.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
34087,34088,2017,1,19,7,72.0,97.00000,2.0,62.0,1400.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
34088,34089,2017,1,19,8,83.0,99.00000,2.0,65.0,1500.0,2.0,NaN,NaN,NaN,NaN,SE,1.2,Huairou
34285,34286,2017,1,27,13,36.0,39.00000,16.0,21.0,600.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
34286,34287,2017,1,27,14,33.0,51.00000,13.0,17.0,600.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,Huairou
34287,34288,2017,1,27,15,39.0,57.00000,10.0,18.0,600.0,89.0,NaN,NaN,NaN,NaN,SW,3.0,Huairou

In [172]:
Huairou_df = Huairou_df.dropna(axis=0, subset=['TEMP'])

In [173]:
print("Jumlah missing values: \n", Huairou_df.isna().sum())

Jumlah missing values:
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP         0
PRES         2
DEWP         2
RAIN         4
wd         257
WSPM         4
station      0
dtype: int64

In [174]:
Huairou_df[(Huairou_df['wd'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
14986,14987,2014,11,15,10,42.000000,82.00000,27.0,51.0,1000.0,10.0,8.0,NaN,NaN,NaN,NaN,NaN,Huairou
15118,15119,2014,11,20,22,308.000000,362.00000,9.0,132.0,3700.0,2.0,-0.5,NaN,NaN,NaN,NaN,NaN,Huairou
15493,15494,2014,12,6,13,8.000000,8.00000,8.0,10.0,300.0,65.0,3.5,1020.0,-43.4,0.0,NaN,NaN,Huairou
16745,16746,2015,1,27,17,69.626367,91.48269,15.0,18.0,600.0,51.0,0.0,1024.0,-22.2,0.0,NaN,NaN,Huairou
17183,17184,2015,2,14,23,234.000000,238.00000,36.0,48.0,2800.0,61.0,0.0,1004.0,-8.5,0.0,NaN,0.0,Huairou
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34701,34702,2017,2,13,21,111.000000,182.00000,19.0,92.0,2800.0,4.0,1.9,1024.7,-11.3,0.0,NaN,0.1,Huairou
34725,34726,2017,2,14,21,238.000000,246.00000,23.0,77.0,3100.0,40.0,-1.9,1020.5,-5.9,0.0,NaN,0.1,Huairou
34795,34796,2017,2,17,19,21.000000,52.00000,6.0,47.0,800.0,52.0,0.6,1018.3,-22.4,0.0,NaN,1.0,Huairou
34875,34876,2017,2,21,3,23.000000,36.00000,6.0,21.0,100.0,30.0,-5.3,1023.9,-14.9,0.0,NaN,0.2,Huairou
35024,35025,2017,2,27,8,42.000000,64.00000,4.0,53.0,1300.0,5.0,-2.2,1014.9,-6.2,0.0,NaN,0.2,Huairou

In [175]:
Huairou_df.wd.value_counts()

wd
NW     4941
WNW    4876
NE     2251
E      2159
W      2138
SE     2112
ENE    2026
ESE    2022
SW     1795
NNE    1687
NNW    1663
SSE    1573
WSW    1468
N      1367
SSW    1350
S      1328
Name: count, dtype: int64

In [176]:
Huairou_df.wd.fillna(value="NW", inplace=True)

In [177]:
Huairou_df[(Huairou_df['wd'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [82]:
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df['PM2.5'].fillna(value=Aotizhongxin_df['PM2.5'].mean(), inplace=True)
Aotizhongxin_df.NO2.value_counts()
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df.SO2.fillna(value=2.0000, inplace=True)
print("Jumlah missing values: \n", Aotizhongxin_df.isna().sum())
Aotizhongxin_df[(Aotizhongxin_df['TEMP'].isna())]

NameError: name 'Aotizhongxin_df' is not defined