In [211]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [212]:
Shunyi_df = pd.read_csv("https://raw.githubusercontent.com/ortenox/data_analyst_project/main/PRSA_Data_Shunyi_20130301-20170228.csv")

In [213]:
Shunyi_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,44.0,-0.9,1025.8,-20.5,0.0,NW,9.3,Shunyi
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,47.0,-1.1,1026.1,-21.3,0.0,NW,9.4,Shunyi
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,22.0,-1.7,1026.2,-23.0,0.0,NW,8.6,Shunyi
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,NaN,-2.1,1027.3,-23.3,0.0,NW,6.6,Shunyi
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,11.0,-2.4,1027.7,-22.9,0.0,NW,4.5,Shunyi

In [214]:
Shunyi_df.info()
print("Jumlah missing values: \n", Shunyi_df.isna().sum())
print("Jumlah duplikasi: ", Shunyi_df.duplicated().sum())
Shunyi_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34151 non-null  float64
 6   PM10     34516 non-null  float64
 7   SO2      33768 non-null  float64
 8   NO2      33699 non-null  float64
 9   CO       32886 non-null  float64
 10  O3       33575 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35013 non-null  float64
 13  DEWP     35010 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34581 non-null  object
 16  WSPM     35020 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB
Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       913
PM10        548
SO2        1296
NO2        1365
CO         2178
O3         1489
TEMP         51
PRES         51
DEWP         54
RAIN         51
wd          483
WSPM         44
station       0
dtype: int64
Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34151.000000,34516.000000,33768.000000,33699.000000,32886.000000,33575.000000,35013.000000,35013.000000,35010.000000,35013.000000,35020.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,79.491602,98.737026,13.572039,43.908865,1187.063979,55.201321,13.387969,1013.061938,2.465036,0.061094,1.807533
std,10122.249256,1.177213,3.448752,8.800218,6.922285,81.231739,89.143718,19.572068,30.996828,1156.374102,54.873726,11.483588,10.177339,13.726622,0.761668,1.287817
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,988.000000,-36.000000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,19.000000,31.000000,2.000000,19.000000,400.000000,10.000000,3.000000,1004.700000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,55.000000,77.000000,5.000000,37.000000,800.000000,43.000000,14.400000,1012.700000,3.100000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,112.000000,138.000000,17.000000,62.000000,1500.000000,77.000000,23.200000,1021.000000,15.100000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,941.000000,999.000000,239.000000,258.000000,10000.000000,351.716400,40.600000,1042.800000,27.500000,37.300000,12.800000

In [215]:
Shunyi_df[(Shunyi_df['PM2.5'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
204,205,2013,3,9,12,NaN,NaN,NaN,NaN,NaN,90.0,12.7,1006.6,-15.1,0.0,NNW,9.9,Shunyi
205,206,2013,3,9,13,NaN,NaN,NaN,NaN,NaN,90.0,10.4,1009.0,-16.0,0.0,NW,7.6,Shunyi
206,207,2013,3,9,14,NaN,NaN,NaN,NaN,NaN,90.0,9.8,1010.4,-17.4,0.0,NW,6.2,Shunyi
207,208,2013,3,9,15,NaN,NaN,NaN,NaN,NaN,90.0,9.7,1011.7,-17.5,0.0,NNW,5.9,Shunyi
208,209,2013,3,9,16,NaN,NaN,NaN,NaN,NaN,90.0,10.3,1013.1,-17.9,0.0,NNW,6.2,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34880,34881,2017,2,21,8,NaN,NaN,NaN,NaN,NaN,NaN,-2.1,1029.7,-15.5,0.0,E,0.6,Shunyi
34883,34884,2017,2,21,11,NaN,NaN,NaN,NaN,NaN,NaN,-0.2,1028.9,-14.2,0.0,SE,1.3,Shunyi
34885,34886,2017,2,21,13,NaN,NaN,NaN,NaN,NaN,NaN,-0.1,1027.8,-8.5,0.0,S,3.6,Shunyi
34936,34937,2017,2,23,16,NaN,NaN,2.0,14.0,300.0,84.0,8.1,1022.5,-15.5,0.0,WNW,3.9,Shunyi
34937,34938,2017,2,23,17,NaN,NaN,2.0,17.0,300.0,NaN,7.5,1022.2,-16.0,0.0,W,4.7,Shunyi

In [216]:
Shunyi_df['PM2.5'].fillna(value=Shunyi_df['PM2.5'].mean(), inplace=True)

In [217]:
Shunyi_df[(Shunyi_df['PM2.5'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [218]:
Shunyi_df[(Shunyi_df['PM10'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
31,32,2013,3,2,7,13.000000,NaN,12.0,31.0,700.0,49.0,-2.7,1032.3,-16.4,0.0,N,1.3,Shunyi
88,89,2013,3,4,16,13.000000,NaN,8.0,21.0,500.0,84.0,14.9,1017.9,-13.3,0.0,SSW,3.0,Shunyi
204,205,2013,3,9,12,79.491602,NaN,NaN,NaN,NaN,90.0,12.7,1006.6,-15.1,0.0,NNW,9.9,Shunyi
205,206,2013,3,9,13,79.491602,NaN,NaN,NaN,NaN,90.0,10.4,1009.0,-16.0,0.0,NW,7.6,Shunyi
206,207,2013,3,9,14,79.491602,NaN,NaN,NaN,NaN,90.0,9.8,1010.4,-17.4,0.0,NW,6.2,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34880,34881,2017,2,21,8,79.491602,NaN,NaN,NaN,NaN,NaN,-2.1,1029.7,-15.5,0.0,E,0.6,Shunyi
34883,34884,2017,2,21,11,79.491602,NaN,NaN,NaN,NaN,NaN,-0.2,1028.9,-14.2,0.0,SE,1.3,Shunyi
34885,34886,2017,2,21,13,79.491602,NaN,NaN,NaN,NaN,NaN,-0.1,1027.8,-8.5,0.0,S,3.6,Shunyi
34936,34937,2017,2,23,16,79.491602,NaN,2.0,14.0,300.0,84.0,8.1,1022.5,-15.5,0.0,WNW,3.9,Shunyi
34937,34938,2017,2,23,17,79.491602,NaN,2.0,17.0,300.0,NaN,7.5,1022.2,-16.0,0.0,W,4.7,Shunyi

In [219]:
Shunyi_df['PM10'].fillna(value=Shunyi_df['PM10'].mean(), inplace=True)

In [220]:
Shunyi_df[(Shunyi_df['PM10'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [221]:
Shunyi_df[(Shunyi_df['SO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
2,3,2013,3,1,2,14.000000,14.000000,NaN,7.0,200.0,22.0,-1.7,1026.2,-23.0,0.0,NW,8.6,Shunyi
98,99,2013,3,5,2,93.000000,106.000000,NaN,5.0,200.0,84.0,2.2,1017.0,-10.7,0.0,NNE,1.7,Shunyi
194,195,2013,3,9,2,64.000000,93.000000,NaN,5.0,200.0,90.0,2.5,996.6,-3.8,0.0,WNW,1.7,Shunyi
204,205,2013,3,9,12,79.491602,98.737026,NaN,NaN,NaN,90.0,12.7,1006.6,-15.1,0.0,NNW,9.9,Shunyi
205,206,2013,3,9,13,79.491602,98.737026,NaN,NaN,NaN,90.0,10.4,1009.0,-16.0,0.0,NW,7.6,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,79.491602,98.737026,NaN,NaN,NaN,NaN,-2.5,1029.4,-14.9,0.0,NE,0.9,Shunyi
34880,34881,2017,2,21,8,79.491602,98.737026,NaN,NaN,NaN,NaN,-2.1,1029.7,-15.5,0.0,E,0.6,Shunyi
34883,34884,2017,2,21,11,79.491602,98.737026,NaN,NaN,NaN,NaN,-0.2,1028.9,-14.2,0.0,SE,1.3,Shunyi
34885,34886,2017,2,21,13,79.491602,98.737026,NaN,NaN,NaN,NaN,-0.1,1027.8,-8.5,0.0,S,3.6,Shunyi
34938,34939,2017,2,23,18,9.000000,21.000000,NaN,NaN,NaN,76.0,6.3,1022.2,-15.1,0.0,W,3.4,Shunyi

In [222]:
Shunyi_df.SO2.value_counts()

SO2
2.0000      10335
3.0000       3202
4.0000       1689
5.0000       1272
6.0000       1122
            ...
128.0000        1
9.9960          1
140.0000        1
12.2808         1
239.0000        1
Name: count, Length: 267, dtype: int64

In [223]:
Shunyi_df.SO2.fillna(value=2.0000, inplace=True)

In [224]:
Shunyi_df[(Shunyi_df['SO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [225]:
print("Jumlah missing values: \n", Shunyi_df.isna().sum())

Jumlah missing values:
 No            0
year          0
month         0
day           0
hour          0
PM2.5         0
PM10          0
SO2           0
NO2        1365
CO         2178
O3         1489
TEMP         51
PRES         51
DEWP         54
RAIN         51
wd          483
WSPM         44
station       0
dtype: int64

In [226]:
Shunyi_df[(Shunyi_df['NO2'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
4,5,2013,3,1,4,12.000000,12.000000,3.0,NaN,200.0,11.0,-2.4,1027.7,-22.9,0.0,NW,4.5,Shunyi
100,101,2013,3,5,4,110.000000,133.000000,5.0,NaN,200.0,84.0,0.2,1016.4,-9.0,0.0,NNE,1.7,Shunyi
196,197,2013,3,9,4,119.000000,131.000000,7.0,NaN,100.0,90.0,1.4,994.3,-3.5,0.0,WSW,0.8,Shunyi
204,205,2013,3,9,12,79.491602,98.737026,2.0,NaN,NaN,90.0,12.7,1006.6,-15.1,0.0,NNW,9.9,Shunyi
205,206,2013,3,9,13,79.491602,98.737026,2.0,NaN,NaN,90.0,10.4,1009.0,-16.0,0.0,NW,7.6,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,79.491602,98.737026,2.0,NaN,NaN,NaN,-2.5,1029.4,-14.9,0.0,NE,0.9,Shunyi
34880,34881,2017,2,21,8,79.491602,98.737026,2.0,NaN,NaN,NaN,-2.1,1029.7,-15.5,0.0,E,0.6,Shunyi
34883,34884,2017,2,21,11,79.491602,98.737026,2.0,NaN,NaN,NaN,-0.2,1028.9,-14.2,0.0,SE,1.3,Shunyi
34885,34886,2017,2,21,13,79.491602,98.737026,2.0,NaN,NaN,NaN,-0.1,1027.8,-8.5,0.0,S,3.6,Shunyi
34938,34939,2017,2,23,18,9.000000,21.000000,2.0,NaN,NaN,76.0,6.3,1022.2,-15.1,0.0,W,3.4,Shunyi

In [227]:
Shunyi_df.NO2.value_counts()

NO2
10.0000     640
13.0000     579
11.0000     573
12.0000     571
9.0000      557
           ...
55.4310       1
69.1861       1
8.8279        1
62.4112       1
184.0000      1
Name: count, Length: 517, dtype: int64

In [228]:
Shunyi_df.NO2.describe()

count    33699.000000
mean        43.908865
std         30.996828
min          2.000000
25%         19.000000
50%         37.000000
75%         62.000000
max        258.000000
Name: NO2, dtype: float64

In [229]:
Shunyi_df['NO2'].fillna(value=Shunyi_df['NO2'].mean(), inplace=True)

In [230]:
Shunyi_df[(Shunyi_df['NO2'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [231]:
Shunyi_df[(Shunyi_df['CO'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
3,4,2013,3,1,3,12.000000,12.000000,3.0000,5.000000,NaN,NaN,-2.1,1027.3,-23.3,0.0,NW,6.6,Shunyi
99,100,2013,3,5,3,98.000000,116.000000,5.0000,4.000000,NaN,84.0,0.5,1016.7,-8.2,0.0,NNE,0.2,Shunyi
120,121,2013,3,6,0,200.000000,208.000000,79.6824,97.722800,NaN,61.0,4.5,1011.1,-5.0,0.0,NNW,0.7,Shunyi
131,132,2013,3,6,11,164.000000,174.000000,87.1080,75.755700,NaN,61.0,9.1,1010.5,-5.6,0.0,N,2.1,Shunyi
178,179,2013,3,8,10,174.000000,196.000000,74.2560,62.616500,NaN,98.0,16.8,1003.4,-1.4,0.0,SE,2.1,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,79.491602,98.737026,2.0000,43.908865,NaN,NaN,-2.5,1029.4,-14.9,0.0,NE,0.9,Shunyi
34880,34881,2017,2,21,8,79.491602,98.737026,2.0000,43.908865,NaN,NaN,-2.1,1029.7,-15.5,0.0,E,0.6,Shunyi
34883,34884,2017,2,21,11,79.491602,98.737026,2.0000,43.908865,NaN,NaN,-0.2,1028.9,-14.2,0.0,SE,1.3,Shunyi
34885,34886,2017,2,21,13,79.491602,98.737026,2.0000,43.908865,NaN,NaN,-0.1,1027.8,-8.5,0.0,S,3.6,Shunyi
34938,34939,2017,2,23,18,9.000000,21.000000,2.0000,43.908865,NaN,76.0,6.3,1022.2,-15.1,0.0,W,3.4,Shunyi

In [232]:
Shunyi_df['CO'].fillna(value=Shunyi_df['CO'].mean(), inplace=True)

In [233]:
Shunyi_df[(Shunyi_df['CO'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [234]:
Shunyi_df[(Shunyi_df['O3'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
3,4,2013,3,1,3,12.000000,12.000000,3.0000,5.000000,1187.063979,NaN,-2.1,1027.3,-23.3,0.0,NW,6.6,Shunyi
483,484,2013,3,21,3,88.000000,76.000000,3.0000,4.000000,1187.063979,NaN,0.5,1011.7,-4.2,0.0,SE,1.4,Shunyi
484,485,2013,3,21,4,74.000000,92.000000,3.0000,4.000000,100.000000,NaN,0.0,1011.1,-4.3,0.0,SE,1.0,Shunyi
578,579,2013,3,25,2,79.000000,142.000000,10.0000,79.000000,1187.063979,NaN,0.4,1019.9,-5.6,0.0,SE,2.5,Shunyi
579,580,2013,3,25,3,67.000000,119.000000,3.7128,9.000000,1187.063979,NaN,-0.2,1020.0,-5.8,0.0,SSE,2.1,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34879,34880,2017,2,21,7,79.491602,98.737026,2.0000,43.908865,1187.063979,NaN,-2.5,1029.4,-14.9,0.0,NE,0.9,Shunyi
34880,34881,2017,2,21,8,79.491602,98.737026,2.0000,43.908865,1187.063979,NaN,-2.1,1029.7,-15.5,0.0,E,0.6,Shunyi
34883,34884,2017,2,21,11,79.491602,98.737026,2.0000,43.908865,1187.063979,NaN,-0.2,1028.9,-14.2,0.0,SE,1.3,Shunyi
34885,34886,2017,2,21,13,79.491602,98.737026,2.0000,43.908865,1187.063979,NaN,-0.1,1027.8,-8.5,0.0,S,3.6,Shunyi
34937,34938,2017,2,23,17,79.491602,98.737026,2.0000,17.000000,300.000000,NaN,7.5,1022.2,-16.0,0.0,W,4.7,Shunyi

In [235]:
Shunyi_df.O3.value_counts()

O3
2.0000      3478
4.0000       774
3.0000       714
5.0000       611
6.0000       550
            ...
13.4946        1
50.1228        1
16.9218        1
80.9676        1
311.0000       1
Name: count, Length: 961, dtype: int64

In [236]:
Shunyi_df.O3.fillna(value=2.0000, inplace=True)

In [237]:
Shunyi_df[(Shunyi_df['TEMP'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
16760,16761,2015,1,28,8,7.0,7.000000,2.0,15.000000,300.000000,48.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
16790,16791,2015,1,29,14,32.0,32.000000,4.0,31.000000,600.000000,58.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
16812,16813,2015,1,30,12,15.0,15.000000,2.0,17.000000,500.000000,63.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
16813,16814,2015,1,30,13,12.0,12.000000,2.0,11.000000,300.000000,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
16873,16874,2015,2,2,1,271.0,271.000000,73.0,82.000000,4500.000000,10.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
16907,16908,2015,2,3,11,225.0,225.000000,53.0,90.000000,2800.000000,23.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
16930,16931,2015,2,4,10,22.0,28.000000,6.0,40.000000,600.000000,45.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
16932,16933,2015,2,4,12,16.0,16.000000,2.0,20.000000,400.000000,62.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
16934,16935,2015,2,4,14,19.0,19.000000,2.0,18.000000,300.000000,64.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
16982,16983,2015,2,6,14,27.0,27.000000,18.0,29.000000,500.000000,68.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17007,17008,2015,2,7,15,8.0,8.000000,2.0,8.000000,200.000000,77.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17053,17054,2015,2,9,13,87.0,87.000000,33.0,48.000000,1000.000000,45.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17078,17079,2015,2,10,14,61.0,61.000000,30.0,52.000000,800.000000,65.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17115,17116,2015,2,12,3,13.0,13.000000,13.0,7.000000,1187.063979,50.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17125,17126,2015,2,12,13,18.0,18.000000,2.0,13.000000,500.000000,89.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17140,17141,2015,2,13,4,87.0,87.000000,7.0,67.000000,2200.000000,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17150,17151,2015,2,13,14,121.0,121.000000,36.0,58.000000,1600.000000,73.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17252,17253,2015,2,17,20,12.0,21.000000,3.0,27.000000,300.000000,63.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17263,17264,2015,2,18,7,6.0,11.000000,4.0,6.000000,100.000000,76.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17273,17274,2015,2,18,17,11.0,11.000000,2.0,12.000000,100.000000,89.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17322,17323,2015,2,20,18,147.0,147.000000,2.0,49.000000,1900.000000,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17341,17342,2015,2,21,13,236.0,236.000000,2.0,43.000000,2500.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17342,17343,2015,2,21,14,261.0,261.000000,2.0,44.000000,2600.000000,15.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17354,17355,2015,2,22,2,123.0,98.737026,10.0,2.000000,300.000000,33.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17372,17373,2015,2,22,20,30.0,100.000000,7.0,28.000000,300.000000,37.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17381,17382,2015,2,23,5,16.0,47.000000,17.0,12.000000,300.000000,45.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17389,17390,2015,2,23,13,21.0,47.000000,7.0,13.000000,300.000000,58.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17438,17439,2015,2,25,14,9.0,9.000000,2.0,10.000000,100.000000,74.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17444,17445,2015,2,25,20,20.0,27.000000,6.0,32.000000,300.000000,52.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17486,17487,2015,2,27,14,24.0,49.000000,20.0,22.000000,1000.000000,55.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17508,17509,2015,2,28,12,109.0,109.000000,2.0,42.000000,1300.000000,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
17516,17517,2015,2,28,20,197.0,198.000000,2.0,68.000000,1700.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
19346,19347,2015,5,16,2,51.0,89.000000,3.0,101.000000,600.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
30750,30751,2016,9,2,6,12.0,20.000000,2.0,43.908865,100.000000,2.0,NaN,NaN,NaN,NaN,NE,0.8,Shunyi
31047,31048,2016,9,14,15,142.0,142.000000,5.0,49.000000,1100.000000,2.0,NaN,NaN,NaN,NaN,SW,1.9,Shunyi
31315,31316,2016,9,25,19,132.0,132.000000,3.0,60.000000,1700.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
31316,31317,2016,9,25,20,146.0,146.000000,4.0,57.000000,1700.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
31317,31318,2016,9,25,21,117.0,117.000000,4.0,31.000000,1100.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
31318,31319,2016,9,25,22,119.0,119.000000,3.0,34.000000,1000.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
31319,31320,2016,9,25,23,94.0,94.000000,4.0,36.000000,1000.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
31320,31321,2016,9,26,0,85.0,85.000000,5.0,35.000000,900.000000,2.0,NaN,NaN,NaN,NaN,NE,2.0,Shunyi
33872,33873,2017,1,10,8,11.0,20.000000,10.0,49.000000,700.000000,25.0,NaN,NaN,NaN,NaN,NW,2.1,Shunyi
33882,33883,2017,1,10,18,12.0,12.000000,9.0,43.000000,500.000000,41.0,NaN,NaN,NaN,NaN,NaN,0.4,Shunyi
34083,34084,2017,1,19,3,130.0,178.000000,28.0,78.000000,2200.000000,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
34084,34085,2017,1,19,4,109.0,110.000000,25.0,74.000000,2200.000000,72.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
34085,34086,2017,1,19,5,103.0,118.000000,23.0,65.000000,2300.000000,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
34086,34087,2017,1,19,6,95.0,129.000000,13.0,67.000000,2200.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
34087,34088,2017,1,19,7,94.0,94.000000,8.0,65.000000,200.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
34088,34089,2017,1,19,8,92.0,92.000000,10.0,64.000000,1900.000000,2.0,NaN,NaN,NaN,NaN,NW,1.8,Shunyi
34285,34286,2017,1,27,13,41.0,52.000000,17.0,21.000000,700.000000,84.0,NaN,NaN,NaN,NaN,NaN,NaN,Shunyi
34286,34287,2017,1,27,14,43.0,62.000000,13.0,19.000000,700.000000,84.0,NaN,NaN,NaN,NaN,SW,4.4,Shunyi

In [238]:
Shunyi_df = Shunyi_df.dropna(axis=0, subset=['TEMP'])

In [239]:
print("Jumlah missing values: \n", Shunyi_df.isna().sum())

Jumlah missing values:
 No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP         0
PRES         0
DEWP         3
RAIN         0
wd         438
WSPM         0
station      0
dtype: int64

In [240]:
Shunyi_df[(Shunyi_df['wd'].isna())]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
6764,6765,2013,12,7,20,380.000000,378.000000,44.0,121.000000,8500.000000,4.0,-0.1,1016.7,-2.2,0.0,NaN,0.1,Shunyi
16416,16417,2015,1,14,0,215.000000,215.000000,36.0,86.000000,2800.000000,17.0,-4.0,1027.9,-8.1,0.0,NaN,0.9,Shunyi
17182,17183,2015,2,14,22,389.000000,389.000000,62.0,124.000000,3900.000000,31.0,1.0,1009.0,-6.8,0.0,NaN,0.0,Shunyi
17186,17187,2015,2,15,2,316.000000,316.000000,64.0,111.000000,3800.000000,18.0,-1.0,1012.0,-8.2,0.0,NaN,0.0,Shunyi
17192,17193,2015,2,15,8,291.000000,291.000000,62.0,130.000000,4800.000000,16.0,-1.0,1014.0,-8.0,0.0,NaN,0.0,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34872,34873,2017,2,21,0,79.491602,98.737026,2.0,43.908865,1187.063979,2.0,-3.2,1030.6,-13.2,0.0,NaN,0.2,Shunyi
34903,34904,2017,2,22,7,82.000000,82.000000,4.0,56.000000,1600.000000,8.0,-3.4,1018.3,-5.3,0.0,NaN,0.1,Shunyi
34944,34945,2017,2,24,0,74.000000,80.000000,30.0,102.000000,2100.000000,2.0,-1.1,1022.8,-9.2,0.0,NaN,0.2,Shunyi
34946,34947,2017,2,24,2,71.000000,86.000000,24.0,99.000000,2200.000000,2.0,-2.3,1023.0,-8.0,0.0,NaN,0.0,Shunyi
35014,35015,2017,2,26,22,87.000000,118.000000,20.0,99.000000,1800.000000,2.0,3.7,1020.7,-5.0,0.0,NaN,0.2,Shunyi

In [241]:
Shunyi_df.wd.value_counts()

wd
NNE    4540
N      3877
NE     3349
SSE    2963
SE     2665
S      2613
NW     2444
WNW    2051
NNW    1656
SSW    1586
ENE    1416
ESE    1377
W      1177
E      1153
SW      971
WSW     737
Name: count, dtype: int64

In [209]:
Shunyi_df.wd.fillna(value="ENE", inplace=True)

In [210]:
Shunyi_df[(Shunyi_df['wd'].isna())]

Empty DataFrame
Columns: [No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station]
Index: []

In [82]:
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df['PM2.5'].fillna(value=Aotizhongxin_df['PM2.5'].mean(), inplace=True)
Aotizhongxin_df.NO2.value_counts()
Aotizhongxin_df[(Aotizhongxin_df['PM2.5'].isna())]
Aotizhongxin_df.SO2.fillna(value=2.0000, inplace=True)
print("Jumlah missing values: \n", Aotizhongxin_df.isna().sum())
Aotizhongxin_df[(Aotizhongxin_df['TEMP'].isna())]

NameError: name 'Aotizhongxin_df' is not defined